In [45]:
import os
import argparse

import pandas as pd
import numpy as np
from datetime import datetime
from collections import Counter

from datetime import datetime, timedelta
import time

import warnings

from preprocess_utils import Sampler, adjust_time, read_csv

from sqlalchemy import create_engine, text
import mysql.connector
from dotenv import load_dotenv
import os

In [51]:
# pd.set_option('display.max_columns', 250)
pd.set_option('display.max_rows', 100)

In [25]:
rng = np.random.default_rng(0)
load_dotenv()

True

In [26]:
def condition_value_shuffler(table, target_cols):
    original_idx = np.arange(len(table))
    rng_val = np.random.default_rng(0)
    shuffled_idx = rng_val.choice(original_idx, len(original_idx), replace=False).tolist()
    table.iloc[original_idx, [table.columns.get_loc(col) for col in target_cols]] = table[target_cols].values[shuffled_idx]
    return table

In [32]:
def first_admit_year_sampler(start_year, span_year, earliest_year=None):
        end_year = start_year + span_year
        prob = np.array(range(1,span_year+2))/(sum(np.array(range(1, span_year+2))))
        sampled_year = rng.choice(range(start_year,end_year+1), p=prob)
        if earliest_year is not None:
            year_adjustment = int(sampled_year - earliest_year)
            return year_adjustment*365*24*60 # in minute
        else:
            return sampled_year

In [33]:
def sample_date_given_year(self, year, num_split=1, frmt = '%Y-%m-%d'):
        start_time = time.mktime(time.strptime(f'{year}-01-01', frmt))
        end_time = time.mktime(time.strptime(f'{year}-12-31', frmt))    
        dts = []
        for split in range(num_split):
            split_seed = split/num_split + rng.random()/num_split
            ptime = start_time + split_seed * (end_time - start_time)
            dt = datetime.fromtimestamp(time.mktime(time.localtime(ptime)))
            dts.append(dt.strftime("%Y-%m-%d"))
        return dts

In [34]:
def adjust_time(table, time_col, patient_col, current_time=None, offset_dict=None):

    shifted_time = []
    for idx, time_val in enumerate(table[time_col].values):
        if pd.notnull(time_val) and time_val!='':
            if offset_dict is not None:
                id_ = table[patient_col].iloc[idx]
                if id_ in offset_dict:
                    if type(time_val)==str: # mimic3
                        time_val = str(datetime.strptime(time_val, '%Y-%m-%d %H:%M:%S') + timedelta(minutes=int(offset_dict[id_])))
                    else: # eicu
                        time_val = str(datetime.strptime(offset_dict[id_], '%Y-%m-%d %H:%M:%S') + timedelta(minutes=int(time_val)))
                else:
                    time_val = None
            if time_val is not None and current_time is not None and current_time < time_val:
                time_val = None
        else:
            time_val = None
        shifted_time.append(time_val)

    return shifted_time

In [35]:
def read_csv(data_dir, filename, columns=None, lower=True, filter=None, dtype=None, memory_efficient=False):
    filepath = os.path.join(data_dir, filename)
    if memory_efficient:
        import dask.dataframe as dd
        from dask.diagnostics import ProgressBar
        ProgressBar().register()

        if filepath.endswith('gz'):
            compression='gzip'
        else:
            compression=None

        if dtype:
            df = dd.read_csv(filepath, blocksize=25e6, dtype=dtype, compression=compression)
        else:
            df = dd.read_csv(filepath, blocksize=25e6, compression=compression)
        if columns is not None:
            df = df[columns]
        if filter is not None:
            for key in filter:
                df = df[df[key].isin(filter[key])]
        df = df.compute()
    else:
        df = pd.read_csv(filepath, usecols=columns)
        if filter is not None:
            for key in filter:
                df = df[df[key].isin(filter[key])]
    if lower:
        df = df.applymap(lambda x: x.lower().strip() if pd.notnull(x) and type(x)==str else x)
    return df

In [36]:
host = os.getenv("DB_HOST")
user = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

In [59]:
data_dir = "../dataset/mimic-iii-raw"
out_dir = '../dataset/ehrsql'
db_name = "mimic_iii"
num_patient = 1000
sample_icu_patient_only = False
deid = True
timeshift = True
start_year = 2018
time_span = 5
cur_patient_ratio = 0.1
current_time = "2023-12-31 23:59:00"

In [60]:
if timeshift:
    assert start_year is not None, 'To do a time shift, "start_year" must be specified' 
    assert time_span is not None, 'To do a time shift, "time_span" must be specified' 
    assert current_time is not None, 'To do a time shift, "current_time" must be specified'

# MIMIC III

In [61]:
out_dir = os.path.join(out_dir, db_name)
num_cur_patient = int(num_patient * cur_patient_ratio)
num_non_cur_patient = num_patient - num_cur_patient
if timeshift:
    start_pivot_datetime = datetime(year=start_year, month=1, day=1)

In [62]:
chartevent2itemid = {
    "Temperature C (calc)".lower(): "677",  # body temperature
    "SaO2".lower(): "834",  # Sao2
    "heart rate".lower(): "211",  # heart rate
    "Respiratory Rate".lower(): "618",  # respiration rate
    "Arterial BP [Systolic]".lower(): "51",  # systolic blood pressure
    "Arterial BP [Diastolic]".lower(): "8368",  # diastolic blood pressure
    "Arterial BP Mean".lower(): "52",  # mean blood pressure
    "Admit Wt".lower(): "762",  # weight
    "Admit Ht".lower(): "920",  # height
}

### build_admission_table

In [63]:
print("Processing PATIENTS, ADMISSIONS, ICUSTAYS, TRANSFERS")
start_time = time.time()

# read patients
PATIENTS_table = read_csv(data_dir, "PATIENTS.csv", columns=["row_id", "subject_id", "gender", "dob", "dod"], lower=True)
# print(PATIENTS_table)
subjectid2dob = {pid: dob for pid, dob in zip(PATIENTS_table["subject_id"].values, PATIENTS_table["dob"].values)}

# read admissions
ADMISSIONS_table = read_csv(
    data_dir,
    "ADMISSIONS.csv",
    columns=["row_id", "subject_id", "hadm_id", "admittime", "dischtime", "admission_type", "admission_location", "discharge_location", "insurance", "language", "marital_status", "ethnicity"],
    lower=True,
)
ADMISSIONS_table["AGE"] = [
    int((datetime.strptime(admtime, "%Y-%m-%d %H:%M:%S") - datetime.strptime(subjectid2dob[pid], "%Y-%m-%d %H:%M:%S")).days / 365.25)
    for pid, admtime in zip(ADMISSIONS_table["subject_id"].values, ADMISSIONS_table["admittime"].values)
]

# save original admittime
hadm_id2admtime_dict = {hadm: admtime for hadm, admtime in zip(ADMISSIONS_table["hadm_id"].values, ADMISSIONS_table["admittime"].values)}
hadm_id2dischtime_dict = {hadm: dischtime for hadm, dischtime in zip(ADMISSIONS_table["hadm_id"].values, ADMISSIONS_table["dischtime"].values)}

# get earlist admission time
admittime_earliest = {subj_id: min(ADMISSIONS_table["admittime"][ADMISSIONS_table["subject_id"] == subj_id].values) for subj_id in ADMISSIONS_table["subject_id"].unique()}
if timeshift:
    subjectid2admittime_dict = {
        subj_id: first_admit_year_sampler(start_year, time_span, datetime.strptime(admittime_earliest[subj_id], "%Y-%m-%d %H:%M:%S").year)
        for subj_id in ADMISSIONS_table["subject_id"].unique()
    }

# read icustays
ICUSTAYS_table = read_csv(
    data_dir, "ICUSTAYS.csv", columns=["row_id", "subject_id", "hadm_id", "icustay_id", "first_careunit", "last_careunit", "first_wardid", "last_wardid", "intime", "outtime"], lower=True
)
# subset only icu patients
if sample_icu_patient_only:
    ADMISSIONS_table = ADMISSIONS_table[ADMISSIONS_table["subject_id"].isin(set(ICUSTAYS_table["subject_id"]))]

# read transfer
TRANSFERS_table = read_csv(
    data_dir, "TRANSFERS.csv", columns=["row_id", "subject_id", "hadm_id", "icustay_id", "eventtype", "curr_careunit", "curr_wardid", "intime", "outtime"], lower=True
)
TRANSFERS_table = TRANSFERS_table.rename(columns={"curr_careunit": "careunit", "curr_wardid": "wardid"})
TRANSFERS_table = TRANSFERS_table.dropna(subset=["intime"])

# process patients
if timeshift:
    PATIENTS_table["dob"] = adjust_time(PATIENTS_table, "dob", current_time=current_time, offset_dict=subjectid2admittime_dict, patient_col="subject_id")
    PATIENTS_table["dod"] = adjust_time(PATIENTS_table, "dod", current_time=current_time, offset_dict=subjectid2admittime_dict, patient_col="subject_id")
    PATIENTS_table = PATIENTS_table.dropna(subset=["dob"])

# process admissions
if timeshift:
    ADMISSIONS_table["admittime"] = adjust_time(ADMISSIONS_table, "admittime", current_time=current_time, offset_dict=subjectid2admittime_dict, patient_col="subject_id")
    ADMISSIONS_table = ADMISSIONS_table.dropna(subset=["admittime"])
    ADMISSIONS_table["dischtime"] = adjust_time(ADMISSIONS_table, "dischtime", current_time=current_time, offset_dict=subjectid2admittime_dict, patient_col="subject_id")
    ADMISSIONS_table['discharge_location'] = [loc if pd.notnull(t) else None for loc, t in zip(ADMISSIONS_table["discharge_location"], ADMISSIONS_table["dischtime"])]

# process icustays
if timeshift:
    ICUSTAYS_table["intime"] = adjust_time(ICUSTAYS_table, "intime", current_time=current_time, offset_dict=subjectid2admittime_dict, patient_col="subject_id")
    ICUSTAYS_table["outtime"] = adjust_time(ICUSTAYS_table, "outtime", current_time=current_time, offset_dict=subjectid2admittime_dict, patient_col="subject_id")
    ICUSTAYS_table = ICUSTAYS_table.dropna(subset=["intime"])

# process transfers
if timeshift:
    TRANSFERS_table["intime"] = adjust_time(TRANSFERS_table, "intime", current_time=current_time, offset_dict=subjectid2admittime_dict, patient_col="subject_id")
    TRANSFERS_table["outtime"] = adjust_time(TRANSFERS_table, "outtime", current_time=current_time, offset_dict=subjectid2admittime_dict, patient_col="subject_id")
    TRANSFERS_table = TRANSFERS_table.dropna(subset=["intime"])

################################################################################        
"""
Decide the final cohort of patients: `cur_patient_list` and `non_cur_patient`
"""
# sample current patients
try:
    cur_patient_list = rng.choice(
        ADMISSIONS_table["subject_id"][ADMISSIONS_table["dischtime"].isnull()].unique(),
        num_cur_patient,
        replace=False,
    ).tolist()
except:
    print("Cannot take a larger sample than population when 'replace=False")
    print("Use all available patients instead.")
    cur_patient_list = ADMISSIONS_table["subject_id"][ADMISSIONS_table["dischtime"].isnull()].unique().tolist()

# sample non-current patients
try:
    non_cur_patient = rng.choice(
        ADMISSIONS_table["subject_id"][(ADMISSIONS_table["dischtime"].notnull()) & (~ADMISSIONS_table["subject_id"].isin(cur_patient_list))].unique(),
        num_non_cur_patient,
        replace=False,
    ).tolist()
except:
    print("Cannot take a larger sample than population when 'replace=False")
    print("Use all available patients instead.")
    non_cur_patient = ADMISSIONS_table["subject_id"][(ADMISSIONS_table["dischtime"].notnull()) & (~ADMISSIONS_table["subject_id"].isin(cur_patient_list))].unique().tolist()

patient_list = cur_patient_list + non_cur_patient
print(f"num_cur_patient: {len(cur_patient_list)}")
print(f"num_non_cur_patient: {len(non_cur_patient)}")
print(f"num_patient: {len(patient_list)}")

PATIENTS_table = PATIENTS_table[PATIENTS_table["subject_id"].isin(patient_list)]
ADMISSIONS_table = ADMISSIONS_table[ADMISSIONS_table["subject_id"].isin(patient_list)]

hadm_list = list(set(ADMISSIONS_table["hadm_id"]))
ICUSTAYS_table = ICUSTAYS_table[ICUSTAYS_table["hadm_id"].isin(hadm_list)]
TRANSFERS_table = TRANSFERS_table[TRANSFERS_table["hadm_id"].isin(hadm_list)]

if deid:
    icu2careunit = {}
    icu2wardid = {}
    random_indices = rng.choice(len(ICUSTAYS_table), len(ICUSTAYS_table), replace=False).tolist()
    for idx, icu in enumerate(ICUSTAYS_table["icustay_id"]):
        icu2careunit[icu] = {}
        icu2careunit[icu][ICUSTAYS_table["first_careunit"][ICUSTAYS_table["icustay_id"] == icu].values[0]] = ICUSTAYS_table["first_careunit"].iloc[random_indices[idx]]
        icu2careunit[icu][ICUSTAYS_table["last_careunit"][ICUSTAYS_table["icustay_id"] == icu].values[0]] = ICUSTAYS_table["last_careunit"].iloc[random_indices[idx]]
        ICUSTAYS_table["first_careunit"][ICUSTAYS_table["icustay_id"] == icu] = ICUSTAYS_table["first_careunit"].iloc[random_indices[idx]]
        ICUSTAYS_table["last_careunit"][ICUSTAYS_table["icustay_id"] == icu] = ICUSTAYS_table["last_careunit"].iloc[random_indices[idx]]
        icu2wardid[icu] = {}
        icu2wardid[icu][ICUSTAYS_table["first_wardid"][ICUSTAYS_table["icustay_id"] == icu].values[0]] = ICUSTAYS_table["first_wardid"].iloc[random_indices[idx]]
        icu2wardid[icu][ICUSTAYS_table["last_wardid"][ICUSTAYS_table["icustay_id"] == icu].values[0]] = ICUSTAYS_table["last_wardid"].iloc[random_indices[idx]]
        ICUSTAYS_table["first_wardid"][ICUSTAYS_table["icustay_id"] == icu] = ICUSTAYS_table["first_wardid"].iloc[random_indices[idx]]
        ICUSTAYS_table["last_wardid"][ICUSTAYS_table["icustay_id"] == icu] = ICUSTAYS_table["last_wardid"].iloc[random_indices[idx]]

    for icu in ICUSTAYS_table["icustay_id"]:
        TRANSFERS_table["careunit"][TRANSFERS_table["icustay_id"] == icu] = TRANSFERS_table["careunit"][TRANSFERS_table["icustay_id"] == icu].replace(icu2careunit[icu])
        TRANSFERS_table["wardid"][TRANSFERS_table["icustay_id"] == icu] = TRANSFERS_table["wardid"][TRANSFERS_table["icustay_id"] == icu].replace(icu2wardid[icu])

PATIENTS_table["row_id"] = range(len(PATIENTS_table))
ADMISSIONS_table["row_id"] = range(len(ADMISSIONS_table))
ICUSTAYS_table["row_id"] = range(len(ICUSTAYS_table))
TRANSFERS_table["row_id"] = range(len(TRANSFERS_table))

PATIENTS_table.to_csv(os.path.join(out_dir, "PATIENTS.csv"), index=False)
ADMISSIONS_table.to_csv(os.path.join(out_dir, "ADMISSIONS.csv"), index=False)
ICUSTAYS_table.to_csv(os.path.join(out_dir, "ICUSTAYS.csv"), index=False)
TRANSFERS_table.to_csv(os.path.join(out_dir, "TRANSFERS.csv"), index=False)

print(f"PATIENTS, ADMISSIONS, ICUSTAYS, TRANSFERS processed (took {round(time.time() - start_time, 4)} secs)")

Processing PATIENTS, ADMISSIONS, ICUSTAYS, TRANSFERS
Cannot take a larger sample than population when 'replace=False
Use all available patients instead.
Cannot take a larger sample than population when 'replace=False
Use all available patients instead.
num_cur_patient: 1
num_non_cur_patient: 96
num_patient: 97
PATIENTS, ADMISSIONS, ICUSTAYS, TRANSFERS processed (took 0.6855 secs)

In [64]:
PATIENTS_table.at[0, 'dod'] = None
display(PATIENTS_table)

    row_id  subject_id gender                  dob                  dod
0        0       10006      f  1953-04-09 00:00:00                 None
1        1       10011      f  1986-07-01 00:00:00  2022-09-22 00:00:00
2        2       10013      f  1936-09-28 00:00:00  2023-11-01 00:00:00
3        3       10017      f  1947-10-23 00:00:00                 None
4        4       10019      m  1972-07-24 00:00:00  2021-06-18 00:00:00
5        5       10026      f  1721-06-28 00:00:00  2022-01-05 00:00:00
6        6       10027      f  1938-02-25 00:00:00  2020-10-25 00:00:00
7        7       10029      m  1944-05-09 00:00:00  2023-10-20 00:00:00
8        8       10032      m  1932-04-27 00:00:00  2020-06-18 00:00:00
10       9       10035      m  1944-05-10 00:00:00                 None
11      10       10036      f  1722-05-03 00:00:00  2022-05-05 00:00:00
12      11       10038      f  1934-02-26 00:00:00                 None
13      12       10040      f  1936-11-23 00:00:00                 None
14      13       10042      m  1952-06-06 00:00:00                 None
15      14       10043      m  1944-05-17 00:00:00                 None
16      15       10044      f  1939-03-16 00:00:00  2020-11-21 00:00:00
17      16       10045      f  1951-04-22 00:00:00  2019-12-28 00:00:00
18      17       10046      f  1966-04-27 00:00:00  2020-04-24 00:00:00
19      18       10056      f  1939-03-26 00:00:00  2022-10-12 00:00:00
20      19       10059      m  1951-02-05 00:00:00  2020-09-29 00:00:00
21      20       10061      f  1947-06-09 00:00:00                 None
22      21       10064      m  1949-05-20 00:00:00  2018-04-14 00:00:00
23      22       10065      f  1943-08-28 00:00:00                 None
24      23       10067      m  1992-07-06 00:00:00  2021-11-01 00:00:00
25      24       10069      f  1978-12-03 00:00:00  2020-04-08 00:00:00
26      25       10074      m  1936-02-01 00:00:00  2021-05-29 00:00:00
27      26       10076      m  1951-06-01 00:00:00  2020-04-19 00:00:00
28      27       10083      f  1938-05-06 00:00:00  2021-01-23 00:00:00
29      28       10088      m  1945-07-30 00:00:00  2023-08-09 00:00:00
30      29       10089      m  1935-05-16 00:00:00  2021-09-04 00:00:00
31      30       10090      m  1993-03-24 00:00:00  2023-05-01 00:00:00
32      31       10093      m  1934-10-08 00:00:00  2022-02-24 00:00:00
33      32       10094      m  1722-04-08 00:00:00  2022-04-28 00:00:00
34      33       10098      f  2003-01-12 00:00:00  2023-01-08 00:00:00
35      34       10101      m  1946-08-14 00:00:00  2019-04-20 00:00:00
36      35       10102      m  1952-05-03 00:00:00  2022-07-01 00:00:00
37      36       10104      f  1953-03-12 00:00:00                 None
38      37       10106      m  1960-01-20 00:00:00                 None
39      38       10111      f  1939-02-25 00:00:00  2022-03-11 00:00:00
40      39       10112      f  1940-06-06 00:00:00  2019-02-19 00:00:00
41      40       10114      f  1947-04-24 00:00:00                 None
42      41       10117      f  1955-06-04 00:00:00  2021-12-16 00:00:00
43      42       10119      m  1942-04-03 00:00:00                 None
44      43       10120      m  1994-05-29 00:00:00  2021-06-06 00:00:00
45      44       10124      f  1940-01-31 00:00:00  2023-06-26 00:00:00
46      45       10126      f  1977-07-10 00:00:00  2021-09-21 00:00:00
47      46       10127      f  2006-06-01 00:00:00                 None
48      47       10130      m  1970-08-11 00:00:00  2022-04-16 00:00:00
49      48       10132      f  1957-05-18 00:00:00  2022-11-30 00:00:00
50      49       40124      f  1954-08-01 00:00:00  2021-11-29 00:00:00
51      50       40177      m  1936-08-02 00:00:00  2023-06-17 00:00:00
52      51       40204      m  1944-09-19 00:00:00  2021-03-12 00:00:00
53      52       40277      f  1937-11-13 00:00:00  2021-02-23 00:00:00
54      53       40286      f  1940-05-13 00:00:00                 None
55      54       40304      m  1946-01-20 00:00:00                 None
56      55       40310      m  1982-01-03 00:00:00  2023-01-30 00:00:00
57      56       40456      f  1935-09-05 00:00:00                 None
58      57       40503      f  1933-12-25 00:00:00  2022-08-16 00:00:00
59      58       40595      f  1943-04-05 00:00:00  2019-12-01 00:00:00
60      59       40601      f  1950-02-28 00:00:00  2022-10-05 00:00:00
61      60       40612      f  1932-09-17 00:00:00  2018-12-29 00:00:00
62      61       40655      f  1720-08-17 00:00:00  2021-04-06 00:00:00
63      62       40687      f  1939-07-09 00:00:00  2021-04-13 00:00:00
64      63       41795      m  1972-08-25 00:00:00  2022-01-05 00:00:00
65      64       41914      m  1964-12-17 00:00:00  2020-02-25 00:00:00
66      65       41976      m  1959-09-10 00:00:00                 None
67      66       41983      f  1722-10-13 00:00:00  2022-10-16 00:00:00
68      67       42033      f  1935-11-04 00:00:00  2021-08-23 00:00:00
69      68       42066      m  1971-07-06 00:00:00  2022-03-04 00:00:00
70      69       42075      m  1940-03-12 00:00:00  2020-04-02 00:00:00
71      70       42135      m  1976-10-16 00:00:00  2020-11-22 00:00:00
72      71       42199      f  1950-07-21 00:00:00  2023-04-27 00:00:00
73      72       42231      f  1936-12-25 00:00:00                 None
74      73       42275      m  1944-09-01 00:00:00  2022-04-23 00:00:00
75      74       42281      f  1951-04-17 00:00:00  2019-12-08 00:00:00
76      75       42292      m  1958-06-03 00:00:00                 None
77      76       42302      f  1937-11-02 00:00:00  2023-07-12 00:00:00
78      77       42321      f  1940-06-10 00:00:00  2021-03-24 00:00:00
79      78       42346      f  1935-01-07 00:00:00  2023-01-30 00:00:00
80      79       42367      f  1934-03-15 00:00:00  2021-12-04 00:00:00
82      80       42430      m  1943-01-09 00:00:00  2023-12-29 00:00:00
83      81       42458      m  1720-08-20 00:00:00  2021-10-08 00:00:00
84      82       43735      m  1941-07-31 00:00:00  2023-12-05 00:00:00
85      83       43746      f  1937-12-30 00:00:00  2019-02-05 00:00:00
86      84       43748      m  1940-10-11 00:00:00  2022-04-07 00:00:00
87      85       43779      m  1944-02-15 00:00:00  2021-01-30 00:00:00
88      86       43798      m  1961-09-10 00:00:00                 None
89      87       43827      f  1722-08-21 00:00:00                 None
90      88       43870      f  1932-06-26 00:00:00  2021-03-24 00:00:00
91      89       43879      f  1965-08-15 00:00:00  2021-08-02 00:00:00
92      90       43881      m  1970-04-13 00:00:00                 None
93      91       43909      f  1940-12-25 00:00:00  2019-11-11 00:00:00
94      92       43927      f  1949-03-21 00:00:00  2021-10-17 00:00:00
95      93       44083      m  1968-12-07 00:00:00                 None
96      94       44154      m  1721-06-21 00:00:00  2021-06-22 00:00:00
97      95       44212      f  1978-07-11 00:00:00                 None
98      96       44222      m  1949-08-04 00:00:00                 None

In [66]:

conn_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'
engine = create_engine(conn_string, echo=True)
conn = engine.connect()

rows = read_csv(out_dir, "PATIENTS.csv")
rows.to_sql("PATIENTS", conn, if_exists="append", index=False)

2024-02-10 15:37:59,709 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-10 15:37:59,710 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-10 15:37:59,861 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-10 15:37:59,862 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-10 15:37:59,970 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-10 15:37:59,971 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-10 15:38:00,085 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-10 15:38:00,179 INFO sqlalchemy.engine.Engine DESCRIBE `test`.`PATIENTS`
2024-02-10 15:38:00,180 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-10 15:38:00,255 INFO sqlalchemy.engine.Engine INSERT INTO `PATIENTS` (row_id, subject_id, gender, dob, dod) VALUES (%(row_id)s, %(subject_id)s, %(gender)s, %(dob)s, %(dod)s)
2024-02-10 15:38:00,255 INFO sqlalchemy.engine.Engine [generated in 0.02897s] [{'row_id': 0, 'subject_id': 10006, 'gender': 'f', 'dob': '1953-04-09 00:00:00', 'dod': None}, {'row_id': 1, 'subject_id': 10011, 'gender': 'f', 'dob': '1986-07-01 00:00:00', 'dod': '2022-09-22 00:00:00'}, {'row_id': 2, 'subject_id': 10013, 'gender': 'f', 'dob': '1936-09-28 00:00:00', 'dod': '2023-11-01 00:00:00'}, {'row_id': 3, 'subject_id': 10017, 'gender': 'f', 'dob': '1947-10-23 00:00:00', 'dod': None}, {'row_id': 4, 'subject_id': 10019, 'gender': 'm', 'dob': '1972-07-24 00:00:00', 'dod': '2021-06-18 00:00:00'}, {'row_id': 5, 'subject_id': 10026, 'gender': 'f', 'dob': '1721-06-28 00:00:00', 'dod': '2022-01-05 00:00:00'}, {'row_id': 6, 'subject_id': 10027, 'gender': 'f', 'dob': '1938-02-25 00:00:00', 'dod': '2020-10-25 00:00:00'}, {'row_id': 7, 'subject_id': 10029, 'gender': 'm', 'dob': '1944-05-09 00:00:00', 'dod': '2023-10-20 00:00:00'}  ... displaying 10 of 97 total bound parameter sets ...  {'row_id': 95, 'subject_id': 44212, 'gender': 'f', 'dob': '1978-07-11 00:00:00', 'dod': None}, {'row_id': 96, 'subject_id': 44222, 'gender': 'm', 'dob': '1949-08-04 00:00:00', 'dod': None}]
2024-02-10 15:38:00,308 INFO sqlalchemy.engine.Engine COMMIT

DataError: (mysql.connector.errors.DataError) 1292 (22007): target: test.-.primary: vttablet: rpc error: code = InvalidArgument desc = Incorrect datetime value: '1953-04-09 00:00:00' for column 'DOB' at row 1 (errno 1292) (sqlstate 22007) (CallerID: g3k5rtdlq1vbv9x9rjz9): Sql: "insert into PATIENTS(row_id, subject_id, gender, dob, dod) values (:vtg1 /* INT64 */, :vtg2 /* INT64 */, :vtg3 /* VARCHAR */, :vtg4 /* VARCHAR */, null), (:vtg5 /* INT64 */, :vtg6 /* INT64 */, :vtg7 /* VARCHAR */, :vtg8 /* VARCHAR */, :vtg9 /* VARCHAR */), (:vtg10 /* INT64 */, :vtg11 /* INT6
[SQL: INSERT INTO `PATIENTS` (row_id, subject_id, gender, dob, dod) VALUES (%(row_id)s, %(subject_id)s, %(gender)s, %(dob)s, %(dod)s)]
[parameters: [{'row_id': 0, 'subject_id': 10006, 'gender': 'f', 'dob': '1953-04-09 00:00:00', 'dod': None}, {'row_id': 1, 'subject_id': 10011, 'gender': 'f', 'dob': '1986-07-01 00:00:00', 'dod': '2022-09-22 00:00:00'}, {'row_id': 2, 'subject_id': 10013, 'gender': 'f', 'dob': '1936-09-28 00:00:00', 'dod': '2023-11-01 00:00:00'}, {'row_id': 3, 'subject_id': 10017, 'gender': 'f', 'dob': '1947-10-23 00:00:00', 'dod': None}, {'row_id': 4, 'subject_id': 10019, 'gender': 'm', 'dob': '1972-07-24 00:00:00', 'dod': '2021-06-18 00:00:00'}, {'row_id': 5, 'subject_id': 10026, 'gender': 'f', 'dob': '1721-06-28 00:00:00', 'dod': '2022-01-05 00:00:00'}, {'row_id': 6, 'subject_id': 10027, 'gender': 'f', 'dob': '1938-02-25 00:00:00', 'dod': '2020-10-25 00:00:00'}, {'row_id': 7, 'subject_id': 10029, 'gender': 'm', 'dob': '1944-05-09 00:00:00', 'dod': '2023-10-20 00:00:00'}  ... displaying 10 of 97 total bound parameter sets ...  {'row_id': 95, 'subject_id': 44212, 'gender': 'f', 'dob': '1978-07-11 00:00:00', 'dod': None}, {'row_id': 96, 'subject_id': 44222, 'gender': 'm', 'dob': '1949-08-04 00:00:00', 'dod': None}]]
(Background on this error at: https://sqlalche.me/e/20/9h9h)