# this should be in backend
testing here for convenience

In [9]:
import os
import json
import pandas as pd

import torch
from openai import OpenAI
from sentence_transformers import SentenceTransformer, util

import mysql.connector
from dotenv import load_dotenv, find_dotenv
from sqlalchemy import create_engine
from sqlalchemy import text as sqltext
load_dotenv(find_dotenv())

from svs import SVS
from queryOpenAI import run_engine

In [10]:
host = os.getenv("DB_HOST")
user = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

In [11]:
# preloading slow things
model = SentenceTransformer('distilbert-multilingual-nli-stsb-quora-ranking')
f = open('../models/mimic-iii/qqdict.json')
qqdict = json.load(f)
corpus_embedding = torch.tensor(pd.read_csv("../models/mimic-iii/corpus.csv").values).to(torch.float32)

client = OpenAI(api_key=os.getenv("OAI_KEY"))

In [12]:
conn_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'
engine = create_engine(conn_string, echo=True)
conn = engine.connect()

2024-02-11 06:33:55,790 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-11 06:33:55,791 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 06:33:55,935 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-11 06:33:55,935 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 06:33:56,017 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-11 06:33:56,018 INFO sqlalchemy.engine.Engine [raw sql] {}

In [22]:
question = "how much does the price mean for a inject/infuse nec?"

In [34]:
def backend(question):
    qqlist = [qqdict[str(i)] for i in SVS(question, k=30, corpus=corpus_embedding, model=model)]

    relevant_qtext = "# Q: \t" + "\n# Q: \t".join(["\n# A: \t".join(rel) for rel in qqlist])
    test_prompt = open('../models/mimic-iii/codex_apidoc.txt').read()

    # pred_query = run_engine(question, test_prompt, relevant_qtext)

    # print(pred_query)
    # print()

    max_iter = 3

    result = None
    for i in range(max_iter):
        print(test_prompt)
        print()
        try:
            pred_query = run_engine(question, test_prompt, relevant_qtext)
            result = conn.execute(sqltext(pred_query)).fetchall()

            if len(result) == 0:
                test_prompt = "0 rows returned, try again.\n" + test_prompt
                continue

            break
        except Exception as e:
            test_prompt = str(e) + "\n" + test_prompt
            print(e)

    return result
    
backend(question)

# this sql database does not support LIMIT.
#
# hadm_id: hospital admission id
# dose_val_rx: dosage size
# dose_unit_rx: unit of dose
# valueom: value units over minutes
#
### MySQL SQL tables, with their properties:
#
# patients(row_id, subject_id, gender, dob, dod)
# admissions(row_id, subject_id, hadm_id, admittime, dischtime, admission_type, admission_location, discharge_location, insurance, language, marital_status, ethnicity, age)
# d_icd_diagnoses(row_id, icd9_code, short_title, long_title)
# d_icd_procedures(row_id, icd9_code, short_title, long_title)
# d_labitems(row_id, itemid, label)
# d_items(row_id, itemid, label, linksto)
# diagnoses_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# procedures_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# labevents(row_id, subject_id, hadm_id, itemid, charttime, valuenum, valueuom)
# prescriptions(row_id, subject_id, hadm_id, startdate, enddate, drug, dose_val_rx, dose_unit_rx, route)
# cost(row_id, subject_id, hadm_id, event_type, event_id, chargetime, cost)
# chartevents(row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom)
# inputevents_cv(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, amount)
# outputevents(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, value)
# microbiologyevents(row_id, subject_id, hadm_id, charttime, spec_type_desc, org_name)
# icustays(row_id, subject_id, hadm_id, icustay_id, first_careunit, last_careunit, first_wardid, last_wardid, intime, outtime)
# transfers(row_id, subject_id, hadm_id, icustay_id, eventtype, careunit, wardid, intime, outtime)
#
# Fields: dob means date of birth, dod means date of death, admittime means admit time dischtime is discharge time.
### TEST_QUESTION
select

# Q: 	what's the cost of a procedure called pros repair atria def-cl?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'pros repair atria def-cl' ) )
# Q: 	what's is closed uterine biopsy's price?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'closed uterine biopsy' ) )
# Q: 	what is the cost of the procedure called blepharorrhaphy?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'blepharorrhaphy' ) )
# Q: 	what is the cost of a drug known as anastrozole?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'anastrozole' )
# Q: 	how much is dorzolamide 2% ophth. soln. costing?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'dorzolamide 2% ophth. soln.' )
# Q: 	what is the cost of drug name soma?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'soma' )
# Q: 	what are the cost of diagnosis for h zoster complicated nec?
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'h zoster complicated nec' ) )
# Q: 	what was the cost of silibinin (*ind*)?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'silibinin (*ind*)' )
# Q: 	how much is lidocaine 2% costing?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'lidocaine 2%' )
# Q: 	what cost does a procedure called inject/inf thrombo agent cost?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'inject/inf thrombo agent' ) )
# Q: 	what's the maximum cost of a hospital with levetiracetam this year?
# A: 	select max(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'levetiracetam' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-0 year') group by cost.hadm_id ) as t1
# Q: 	tell me the cost of a prescription drug called calcium chloride?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'calcium chloride' )
# Q: 	how much does it cost for staphylcocc septicem nos to be diagnosed?
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'staphylcocc septicem nos' ) )
# Q: 	tell me the price of a hemogloblin s lab test?
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'hemogloblin s' ) )
# Q: 	how much is the minimum cost for a hospital that contains sutent during this year?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'sutent' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-0 year') group by cost.hadm_id ) as t1
# Q: 	what's the cost for a glucose, pleural laboratory test?
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'glucose, pleural' ) )
# Q: 	tell me the diagnosis cost of brain hem nec w/o coma in a patient?
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'brain hem nec w/o coma' ) )
# Q: 	how much is the cost of a drug called dorzolamide 2% ophth. soln.?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'dorzolamide 2% ophth. soln.' )
# Q: 	tricor what is the price?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'tricor' )
# Q: 	how much does a procedure called knee synovectomy cost?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'knee synovectomy' ) )
# Q: 	what is the cost of a drug, permethrin?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'permethrin' )
# Q: 	how much is the diagnosis price for dvrtclo sml int w hmrhg.
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'dvrtclo sml int w hmrhg' ) )
# Q: 	what's the price of quantitative g6pd.
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'quantitative g6pd' ) )
# Q: 	what's the minimum total cost of the hospital that involves a drug called insulin human regular last year?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'insulin human regular' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-1 year') group by cost.hadm_id ) as t1
# Q: 	tell me the cost of a cancer antigen 27.29 lab test.
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'cancer antigen 27.29' ) )
# Q: 	what is the minimum total cost for a hospital that includes a drug called zidovudine since 5 years ago?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'zidovudine' ) and datetime(cost.chargetime) >= datetime(current_time,'-5 year') group by cost.hadm_id ) as t1
# Q: 	what's the minimum total cost of a hospital that includes a laboratory triglycerides test in 2102?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select labevents.hadm_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'triglycerides' ) ) and strftime('%y',cost.chargetime) = '2102' group by cost.hadm_id ) as t1
# Q: 	what is the total minimum cost of a hospital that includes a drug called miconazole powder 2% during the previous year?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'miconazole powder 2%' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-1 year') group by cost.hadm_id ) as t1
# Q: 	how much cost is it to perform triiodothyronine (t3) lab tests?
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'triiodothyronine (t3)' ) )
# Q: 	what's the maximum total cost of a hospital, including quantitative g6pd lab tests until 2104?
# A: 	select max(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select labevents.hadm_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'quantitative g6pd' ) ) and strftime('%y',cost.chargetime) <= '2104' group by cost.hadm_id ) as t1# this sql database does not support LIMIT.
#
# hadm_id: hospital admission id
# dose_val_rx: dosage size
# dose_unit_rx: unit of dose
# valueom: value units over minutes
#
### MySQL SQL tables, with their properties:
#
# patients(row_id, subject_id, gender, dob, dod)
# admissions(row_id, subject_id, hadm_id, admittime, dischtime, admission_type, admission_location, discharge_location, insurance, language, marital_status, ethnicity, age)
# d_icd_diagnoses(row_id, icd9_code, short_title, long_title)
# d_icd_procedures(row_id, icd9_code, short_title, long_title)
# d_labitems(row_id, itemid, label)
# d_items(row_id, itemid, label, linksto)
# diagnoses_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# procedures_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# labevents(row_id, subject_id, hadm_id, itemid, charttime, valuenum, valueuom)
# prescriptions(row_id, subject_id, hadm_id, startdate, enddate, drug, dose_val_rx, dose_unit_rx, route)
# cost(row_id, subject_id, hadm_id, event_type, event_id, chargetime, cost)
# chartevents(row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom)
# inputevents_cv(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, amount)
# outputevents(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, value)
# microbiologyevents(row_id, subject_id, hadm_id, charttime, spec_type_desc, org_name)
# icustays(row_id, subject_id, hadm_id, icustay_id, first_careunit, last_careunit, first_wardid, last_wardid, intime, outtime)
# transfers(row_id, subject_id, hadm_id, icustay_id, eventtype, careunit, wardid, intime, outtime)
#
# Fields: dob means date of birth, dod means date of death, admittime means admit time dischtime is discharge time.
### how much does the price mean for a inject/infuse nec?
select

2024-02-11 07:59:43,481 INFO sqlalchemy.engine.Engine SELECT DISTINCT COST.COST FROM COST WHERE COST.EVENT_TYPE = 'PROCEDURES_ICD' AND COST.EVENT_ID IN ( SELECT PROCEDURES_ICD.ROW_ID FROM PROCEDURES_ICD WHERE PROCEDURES_ICD.ICD9_CODE = ( SELECT D_ICD_PROCEDURES.ICD9_CODE FROM D_ICD_PROCEDURES WHERE D_ICD_PROCEDURES.SHORT_TITLE = 'INJECT/INFUSE NEC' ) );
2024-02-11 07:59:43,482 INFO sqlalchemy.engine.Engine [cached since 317.7s ago] {}
0 rows returned, try again.
# this sql database does not support LIMIT.
#
# hadm_id: hospital admission id
# dose_val_rx: dosage size
# dose_unit_rx: unit of dose
# valueom: value units over minutes
#
### MySQL SQL tables, with their properties:
#
# patients(row_id, subject_id, gender, dob, dod)
# admissions(row_id, subject_id, hadm_id, admittime, dischtime, admission_type, admission_location, discharge_location, insurance, language, marital_status, ethnicity, age)
# d_icd_diagnoses(row_id, icd9_code, short_title, long_title)
# d_icd_procedures(row_id, icd9_code, short_title, long_title)
# d_labitems(row_id, itemid, label)
# d_items(row_id, itemid, label, linksto)
# diagnoses_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# procedures_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# labevents(row_id, subject_id, hadm_id, itemid, charttime, valuenum, valueuom)
# prescriptions(row_id, subject_id, hadm_id, startdate, enddate, drug, dose_val_rx, dose_unit_rx, route)
# cost(row_id, subject_id, hadm_id, event_type, event_id, chargetime, cost)
# chartevents(row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom)
# inputevents_cv(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, amount)
# outputevents(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, value)
# microbiologyevents(row_id, subject_id, hadm_id, charttime, spec_type_desc, org_name)
# icustays(row_id, subject_id, hadm_id, icustay_id, first_careunit, last_careunit, first_wardid, last_wardid, intime, outtime)
# transfers(row_id, subject_id, hadm_id, icustay_id, eventtype, careunit, wardid, intime, outtime)
#
# Fields: dob means date of birth, dod means date of death, admittime means admit time dischtime is discharge time.
### TEST_QUESTION
select

# Q: 	what's the cost of a procedure called pros repair atria def-cl?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'pros repair atria def-cl' ) )
# Q: 	what's is closed uterine biopsy's price?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'closed uterine biopsy' ) )
# Q: 	what is the cost of the procedure called blepharorrhaphy?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'blepharorrhaphy' ) )
# Q: 	what is the cost of a drug known as anastrozole?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'anastrozole' )
# Q: 	how much is dorzolamide 2% ophth. soln. costing?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'dorzolamide 2% ophth. soln.' )
# Q: 	what is the cost of drug name soma?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'soma' )
# Q: 	what are the cost of diagnosis for h zoster complicated nec?
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'h zoster complicated nec' ) )
# Q: 	what was the cost of silibinin (*ind*)?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'silibinin (*ind*)' )
# Q: 	how much is lidocaine 2% costing?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'lidocaine 2%' )
# Q: 	what cost does a procedure called inject/inf thrombo agent cost?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'inject/inf thrombo agent' ) )
# Q: 	what's the maximum cost of a hospital with levetiracetam this year?
# A: 	select max(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'levetiracetam' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-0 year') group by cost.hadm_id ) as t1
# Q: 	tell me the cost of a prescription drug called calcium chloride?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'calcium chloride' )
# Q: 	how much does it cost for staphylcocc septicem nos to be diagnosed?

[]

In [20]:
test_prompt = open('../models/mimic-iii/codex_apidoc.txt').read()

In [5]:
print(question)
print()
print("SELECT COUNT(*)>0 \nFROM PRESCRIPTIONS \nWHERE PRESCRIPTIONS.HADM_ID IN \n( \n    SELECT ICUSTAYS.HADM_ID \n    FROM ICUSTAYS \n    WHERE ICUSTAYS.SUBJECT_ID = 22973 \n    ORDER BY ICUSTAYS.INTIME DESC \n    LIMIT 1 \n) \nAND PRESCRIPTIONS.DRUG = 'INSULIN';")

Was patient 22973 prescribed insulin the last time they were at the ICU?

SELECT COUNT(*)>0
FROM PRESCRIPTIONS
WHERE PRESCRIPTIONS.HADM_ID IN
(
    SELECT ICUSTAYS.HADM_ID
    FROM ICUSTAYS
    WHERE ICUSTAYS.SUBJECT_ID = 22973
    ORDER BY ICUSTAYS.INTIME DESC
    LIMIT 1
)
AND PRESCRIPTIONS.DRUG = 'INSULIN';

In [25]:
text = '''SELECT( SELECT CHARTEVENTS.VALUENUM \n  FROM CHARTEVENTS \n  WHERE CHARTEVENTS.ICUSTAY_ID IN \n    ( SELECT ICUSTAYS.ICUSTAY_ID \n      FROM ICUSTAYS \n      WHERE ICUSTAYS.HADM_ID IN \n        ( SELECT ADMISSIONS.HADM_ID \n          FROM ADMISSIONS \n          WHERE ADMISSIONS.SUBJECT_ID = 6215 \n          AND ADMISSIONS.DISCHTIME IS NOT NULL \n          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1 \n        ) \n    ) \n  AND CHARTEVENTS.ITEMID IN \n    ( SELECT D_ITEMS.ITEMID \n      FROM D_ITEMS \n      WHERE D_ITEMS.LABEL = 'ADMIT WT' \n      AND D_ITEMS.LINKSTO = 'CHARTEVENTS' \n    ) \n  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1 OFFSET 1 \n) - \n( SELECT CHARTEVENTS.VALUENUM \n  FROM CHARTEVENTS \n  WHERE CHARTEVENTS.ICUSTAY_ID IN \n    ( SELECT ICUSTAYS.ICUSTAY_ID \n      FROM ICUSTAYS \n      WHERE ICUSTAYS.HADM_ID IN \n        ( SELECT ADMISSIONS.HADM_ID \n          FROM ADMISSIONS \n          WHERE ADMISSIONS.SUBJECT_ID = 6215 \n          AND ADMISSIONS.DISCHTIME IS NOT NULL \n          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1 \n        ) \n    ) \n  AND CHARTEVENTS.ITEMID IN \n    ( SELECT D_ITEMS.ITEMID \n      FROM D_ITEMS \n      WHERE D_ITEMS.LABEL = 'ADMIT WT' \n      AND D_ITEMS.LINKSTO = 'CHARTEVENTS' \n    ) \n  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1 \n);'''

In [28]:
conn_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'
engine = create_engine(conn_string, echo=True)
connection = engine.connect()
test = 0
try:
    result = connection.execute(sqltext(text)).fetchall()
except Exception as e:
    print(e)
    test = e

2024-02-11 07:52:14,613 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-11 07:52:14,613 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 07:52:14,759 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-11 07:52:14,760 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 07:52:14,831 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-11 07:52:14,832 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 07:52:14,947 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-11 07:52:14,947 INFO sqlalchemy.engine.Engine SELECT( SELECT CHARTEVENTS.VALUENUM
  FROM CHARTEVENTS
  WHERE CHARTEVENTS.ICUSTAY_ID IN
    ( SELECT ICUSTAYS.ICUSTAY_ID
      FROM ICUSTAYS
      WHERE ICUSTAYS.HADM_ID IN
        ( SELECT ADMISSIONS.HADM_ID
          FROM ADMISSIONS
          WHERE ADMISSIONS.SUBJECT_ID = 6215
          AND ADMISSIONS.DISCHTIME IS NOT NULL
          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1
        )
    )
  AND CHARTEVENTS.ITEMID IN
    ( SELECT D_ITEMS.ITEMID
      FROM D_ITEMS
      WHERE D_ITEMS.LABEL = 'ADMIT WT'
      AND D_ITEMS.LINKSTO = 'CHARTEVENTS'
    )
  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1 OFFSET 1
) -
( SELECT CHARTEVENTS.VALUENUM
  FROM CHARTEVENTS
  WHERE CHARTEVENTS.ICUSTAY_ID IN
    ( SELECT ICUSTAYS.ICUSTAY_ID
      FROM ICUSTAYS
      WHERE ICUSTAYS.HADM_ID IN
        ( SELECT ADMISSIONS.HADM_ID
          FROM ADMISSIONS
          WHERE ADMISSIONS.SUBJECT_ID = 6215
          AND ADMISSIONS.DISCHTIME IS NOT NULL
          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1
        )
    )
  AND CHARTEVENTS.ITEMID IN
    ( SELECT D_ITEMS.ITEMID
      FROM D_ITEMS
      WHERE D_ITEMS.LABEL = 'ADMIT WT'
      AND D_ITEMS.LINKSTO = 'CHARTEVENTS'
    )
  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1
);
2024-02-11 07:52:14,948 INFO sqlalchemy.engine.Engine [generated in 0.02938s] {}
(mysql.connector.errors.ProgrammingError) 1235 (42000): target: ehrudite-alt.-.primary: vttablet: This version of MySQL doesn't yet support 'LIMIT & IN/ALL/ANY/SOME subquery' (errno 1235) (sqlstate 42000) (CallerID: xsylitx3w6v21qdtinlf): Sql: "select (select CHARTEVENTS.VALUENUM from CHARTEVENTS where CHARTEVENTS.ICUSTAY_ID in (select ICUSTAYS.ICUSTAY_ID from ICUSTAYS where ICUSTAYS.HADM_ID in (select ADMISSIONS.HADM_ID from ADMISSIONS where ADMISSIONS.SUBJECT_ID = :ADMISSIONS_SUBJECT_ID /* INT64 */ and ADMISSIONS.DISCHTIME is not null order by ADMISSIONS.ADMI
[SQL: SELECT( SELECT CHARTEVENTS.VALUENUM
  FROM CHARTEVENTS
  WHERE CHARTEVENTS.ICUSTAY_ID IN
    ( SELECT ICUSTAYS.ICUSTAY_ID
      FROM ICUSTAYS
      WHERE ICUSTAYS.HADM_ID IN
        ( SELECT ADMISSIONS.HADM_ID
          FROM ADMISSIONS
          WHERE ADMISSIONS.SUBJECT_ID = 6215
          AND ADMISSIONS.DISCHTIME IS NOT NULL
          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1
        )
    )
  AND CHARTEVENTS.ITEMID IN
    ( SELECT D_ITEMS.ITEMID
      FROM D_ITEMS
      WHERE D_ITEMS.LABEL = 'ADMIT WT'
      AND D_ITEMS.LINKSTO = 'CHARTEVENTS'
    )
  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1 OFFSET 1
) -
( SELECT CHARTEVENTS.VALUENUM
  FROM CHARTEVENTS
  WHERE CHARTEVENTS.ICUSTAY_ID IN
    ( SELECT ICUSTAYS.ICUSTAY_ID
      FROM ICUSTAYS
      WHERE ICUSTAYS.HADM_ID IN
        ( SELECT ADMISSIONS.HADM_ID
          FROM ADMISSIONS
          WHERE ADMISSIONS.SUBJECT_ID = 6215
          AND ADMISSIONS.DISCHTIME IS NOT NULL
          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1
        )
    )
  AND CHARTEVENTS.ITEMID IN
    ( SELECT D_ITEMS.ITEMID
      FROM D_ITEMS
      WHERE D_ITEMS.LABEL = 'ADMIT WT'
      AND D_ITEMS.LINKSTO = 'CHARTEVENTS'
    )
  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [29]:
test

sqlalchemy.exc.ProgrammingError('(mysql.connector.errors.ProgrammingError) 1235 (42000): target: ehrudite-alt.-.primary: vttablet: This version of MySQL doesn\'t yet support \'LIMIT & IN/ALL/ANY/SOME subquery\' (errno 1235) (sqlstate 42000) (CallerID: xsylitx3w6v21qdtinlf): Sql: "select (select CHARTEVENTS.VALUENUM from CHARTEVENTS where CHARTEVENTS.ICUSTAY_ID in (select ICUSTAYS.ICUSTAY_ID from ICUSTAYS where ICUSTAYS.HADM_ID in (select ADMISSIONS.HADM_ID from ADMISSIONS where ADMISSIONS.SUBJECT_ID = :ADMISSIONS_SUBJECT_ID /* INT64 */ and ADMISSIONS.DISCHTIME is not null order by ADMISSIONS.ADMI')

In [19]:
t = "SELECT DISTINCT COST.COST FROM COST WHERE COST.EVENT_TYPE = 'PROCEDURES_ICD' AND COST.EVENT_ID IN ( SELECT PROCEDURES_ICD.ROW_ID FROM PROCEDURES_ICD WHERE PROCEDURES_ICD.ICD9_CODE = ( SELECT D_ICD_PROCEDURES.ICD9_CODE FROM D_ICD_PROCEDURES WHERE D_ICD_PROCEDURES.SHORT_TITLE = 'INJECT/INFUSE NEC' ) );".upper()
t

"SELECT DISTINCT COST.COST FROM COST WHERE COST.EVENT_TYPE = 'PROCEDURES_ICD' AND COST.EVENT_ID IN ( SELECT PROCEDURES_ICD.ROW_ID FROM PROCEDURES_ICD WHERE PROCEDURES_ICD.ICD9_CODE = ( SELECT D_ICD_PROCEDURES.ICD9_CODE FROM D_ICD_PROCEDURES WHERE D_ICD_PROCEDURES.SHORT_TITLE = 'INJECT/INFUSE NEC' ) );"