# this should be in backend
testing here for convenience

In [6]:
import os
import json
import pandas as pd

import torch
from openai import OpenAI
from sentence_transformers import SentenceTransformer, util

import mysql.connector
from dotenv import load_dotenv, find_dotenv
from sqlalchemy import create_engine
from sqlalchemy import text as sqltext
load_dotenv(find_dotenv())

from svs import SVS
from queryOpenAI import run_engine

C:\Users\antho\AppData\Local\Temp\ipykernel_26844\1240516262.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
c:\Users\antho\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
host = os.getenv("DB_HOST")
user = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

In [8]:
# preloading slow things
model = SentenceTransformer('distilbert-multilingual-nli-stsb-quora-ranking')
f = open('../models/mimic-iii/qqdict.json')
qqdict = json.load(f)
corpus_embedding = torch.tensor(pd.read_csv("../models/mimic-iii/corpus.csv").values).to(torch.float32)

client = OpenAI(api_key=os.getenv("OAI_KEY"))

In [6]:
conn_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'
engine = create_engine(conn_string, echo=True)
conn = engine.connect()

c:\Users\antho\AppData\Local\Programs\Python\Python310\lib\site-packages\mysql\connector\abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':
c:\Users\antho\AppData\Local\Programs\Python\Python310\lib\site-packages\mysql\connector\abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':

DatabaseError: (mysql.connector.errors.DatabaseError) 1105 (HY000): unknown error: Code: UNAVAILABLE
server does not allow insecure connections, client must use SSL/TLS

(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [1]:
question = "how much does the price mean for a inject/infuse nec?"

In [9]:
def backend(question):
    qqlist = [qqdict[str(i)] for i in SVS(question, k=30, corpus=corpus_embedding, model=model)]

    relevant_qtext = "# Q: \t" + "\n# Q: \t".join(["\n# A: \t".join(rel) for rel in qqlist])
    test_prompt = open('../models/mimic-iii/codex_apidoc.txt').read()

    # pred_query = run_engine(question, test_prompt, relevant_qtext)

    # print(pred_query)
    # print()

    max_iter = 3

    result = None
    for i in range(max_iter):
        print(test_prompt)
        print()
        try:
            pred_query = run_engine(question, test_prompt, relevant_qtext)
            # result = conn.execute(sqltext(pred_query)).fetchall()

            # if len(result) == 0:
            #     test_prompt = "0 rows returned, try again.\n" + test_prompt
            #     continue

            break
        except Exception as e:
            test_prompt = str(e) + "\n" + test_prompt
            print(e)

    return pred_query
    return result
    
backend(question)

# this sql database does not support LIMIT.
#
# hadm_id: hospital admission id
# dose_val_rx: dosage size
# dose_unit_rx: unit of dose
# valueom: value units over minutes
#
### MySQL SQL tables, with their properties:
#
# patients(row_id, subject_id, gender, dob, dod)
# admissions(row_id, subject_id, hadm_id, admittime, dischtime, admission_type, admission_location, discharge_location, insurance, language, marital_status, ethnicity, age)
# d_icd_diagnoses(row_id, icd9_code, short_title, long_title)
# d_icd_procedures(row_id, icd9_code, short_title, long_title)
# d_labitems(row_id, itemid, label)
# d_items(row_id, itemid, label, linksto)
# diagnoses_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# procedures_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# labevents(row_id, subject_id, hadm_id, itemid, charttime, valuenum, valueuom)
# prescriptions(row_id, subject_id, hadm_id, startdate, enddate, drug, dose_val_rx, dose_unit_rx, route)
# cost(row_id, subject_id, hadm_id, event_type, event_id, chargetime, cost)
# chartevents(row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom)
# inputevents_cv(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, amount)
# outputevents(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, value)
# microbiologyevents(row_id, subject_id, hadm_id, charttime, spec_type_desc, org_name)
# icustays(row_id, subject_id, hadm_id, icustay_id, first_careunit, last_careunit, first_wardid, last_wardid, intime, outtime)
# transfers(row_id, subject_id, hadm_id, icustay_id, eventtype, careunit, wardid, intime, outtime)
#
# Fields: dob means date of birth, dod means date of death, admittime means admit time dischtime is discharge time.
### TEST_QUESTION
select

# Q: 	what's the cost of a procedure called pros repair atria def-cl?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'pros repair atria def-cl' ) )
# Q: 	what's is closed uterine biopsy's price?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'closed uterine biopsy' ) )
# Q: 	what is the cost of the procedure called blepharorrhaphy?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'blepharorrhaphy' ) )
# Q: 	what is the cost of a drug known as anastrozole?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'anastrozole' )
# Q: 	how much is dorzolamide 2% ophth. soln. costing?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'dorzolamide 2% ophth. soln.' )
# Q: 	what is the cost of drug name soma?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'soma' )
# Q: 	what are the cost of diagnosis for h zoster complicated nec?
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'h zoster complicated nec' ) )
# Q: 	what was the cost of silibinin (*ind*)?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'silibinin (*ind*)' )
# Q: 	how much is lidocaine 2% costing?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'lidocaine 2%' )
# Q: 	what cost does a procedure called inject/inf thrombo agent cost?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'inject/inf thrombo agent' ) )
# Q: 	what's the maximum cost of a hospital with levetiracetam this year?
# A: 	select max(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'levetiracetam' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-0 year') group by cost.hadm_id ) as t1
# Q: 	tell me the cost of a prescription drug called calcium chloride?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'calcium chloride' )
# Q: 	how much does it cost for staphylcocc septicem nos to be diagnosed?
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'staphylcocc septicem nos' ) )
# Q: 	tell me the price of a hemogloblin s lab test?
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'hemogloblin s' ) )
# Q: 	how much is the minimum cost for a hospital that contains sutent during this year?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'sutent' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-0 year') group by cost.hadm_id ) as t1
# Q: 	what's the cost for a glucose, pleural laboratory test?
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'glucose, pleural' ) )
# Q: 	tell me the diagnosis cost of brain hem nec w/o coma in a patient?
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'brain hem nec w/o coma' ) )
# Q: 	how much is the cost of a drug called dorzolamide 2% ophth. soln.?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'dorzolamide 2% ophth. soln.' )
# Q: 	tricor what is the price?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'tricor' )
# Q: 	how much does a procedure called knee synovectomy cost?
# A: 	select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'knee synovectomy' ) )
# Q: 	what is the cost of a drug, permethrin?
# A: 	select distinct cost.cost from cost where cost.event_type = 'prescriptions' and cost.event_id in ( select prescriptions.row_id from prescriptions where prescriptions.drug = 'permethrin' )
# Q: 	how much is the diagnosis price for dvrtclo sml int w hmrhg.
# A: 	select distinct cost.cost from cost where cost.event_type = 'diagnoses_icd' and cost.event_id in ( select diagnoses_icd.row_id from diagnoses_icd where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'dvrtclo sml int w hmrhg' ) )
# Q: 	what's the price of quantitative g6pd.
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'quantitative g6pd' ) )
# Q: 	what's the minimum total cost of the hospital that involves a drug called insulin human regular last year?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'insulin human regular' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-1 year') group by cost.hadm_id ) as t1
# Q: 	tell me the cost of a cancer antigen 27.29 lab test.
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'cancer antigen 27.29' ) )
# Q: 	what is the minimum total cost for a hospital that includes a drug called zidovudine since 5 years ago?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'zidovudine' ) and datetime(cost.chargetime) >= datetime(current_time,'-5 year') group by cost.hadm_id ) as t1
# Q: 	what's the minimum total cost of a hospital that includes a laboratory triglycerides test in 2102?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select labevents.hadm_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'triglycerides' ) ) and strftime('%y',cost.chargetime) = '2102' group by cost.hadm_id ) as t1
# Q: 	what is the total minimum cost of a hospital that includes a drug called miconazole powder 2% during the previous year?
# A: 	select min(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select prescriptions.hadm_id from prescriptions where prescriptions.drug = 'miconazole powder 2%' ) and datetime(cost.chargetime,'start of year') = datetime(current_time,'start of year','-1 year') group by cost.hadm_id ) as t1
# Q: 	how much cost is it to perform triiodothyronine (t3) lab tests?
# A: 	select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'triiodothyronine (t3)' ) )
# Q: 	what's the maximum total cost of a hospital, including quantitative g6pd lab tests until 2104?
# A: 	select max(t1.c1) from ( select sum(cost.cost) as c1 from cost where cost.hadm_id in ( select labevents.hadm_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'quantitative g6pd' ) ) and strftime('%y',cost.chargetime) <= '2104' group by cost.hadm_id ) as t1# this sql database does not support LIMIT.
#
# hadm_id: hospital admission id
# dose_val_rx: dosage size
# dose_unit_rx: unit of dose
# valueom: value units over minutes
#
### MySQL SQL tables, with their properties:
#
# patients(row_id, subject_id, gender, dob, dod)
# admissions(row_id, subject_id, hadm_id, admittime, dischtime, admission_type, admission_location, discharge_location, insurance, language, marital_status, ethnicity, age)
# d_icd_diagnoses(row_id, icd9_code, short_title, long_title)
# d_icd_procedures(row_id, icd9_code, short_title, long_title)
# d_labitems(row_id, itemid, label)
# d_items(row_id, itemid, label, linksto)
# diagnoses_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# procedures_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# labevents(row_id, subject_id, hadm_id, itemid, charttime, valuenum, valueuom)
# prescriptions(row_id, subject_id, hadm_id, startdate, enddate, drug, dose_val_rx, dose_unit_rx, route)
# cost(row_id, subject_id, hadm_id, event_type, event_id, chargetime, cost)
# chartevents(row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom)
# inputevents_cv(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, amount)
# outputevents(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, value)
# microbiologyevents(row_id, subject_id, hadm_id, charttime, spec_type_desc, org_name)
# icustays(row_id, subject_id, hadm_id, icustay_id, first_careunit, last_careunit, first_wardid, last_wardid, intime, outtime)
# transfers(row_id, subject_id, hadm_id, icustay_id, eventtype, careunit, wardid, intime, outtime)
#
# Fields: dob means date of birth, dod means date of death, admittime means admit time dischtime is discharge time.
### how much does the price mean for a inject/infuse nec?
select

"SELECT DISTINCT COST.COST FROM COST WHERE COST.EVENT_TYPE = 'PROCEDURES_ICD' AND COST.EVENT_ID IN ( SELECT PROCEDURES_ICD.ROW_ID FROM PROCEDURES_ICD WHERE PROCEDURES_ICD.ICD9_CODE = ( SELECT D_ICD_PROCEDURES.ICD9_CODE FROM D_ICD_PROCEDURES WHERE D_ICD_PROCEDURES.SHORT_TITLE = 'INJECT/INFUSE NEC' ) );"

In [61]:
# backend("what is the range of patient numbers?")
# backend("how many patients do we have in the system?")
# backend("what is the admission history of patient 41976?")
# backend("what other patients have same diagnosis' as patient 41976?")
# backend("what are the four most frequently ordered procedures for patients")
backend("which patients have similar symptoms to patient 41976?")






# backend("what are the four most frequently ordered procedures for patients who were previously diagnosed with pure hypercholesterolem within 2 months, in 2101?")
# backend("has patient 594 received any lab test since 05/2104?")
# ? backend("during this month patient 15794 had been prescribed d5w?")
# ? backend("has patient 69895 been prescribed rocuronium on the first hospital visit?")

# this sql database does not support LIMIT.
#
# hadm_id: hospital admission id
# dose_val_rx: dosage size
# dose_unit_rx: unit of dose
# valueom: value units over minutes
#
### MySQL SQL tables, with their properties:
#
# patients(row_id, subject_id, gender, dob, dod)
# admissions(row_id, subject_id, hadm_id, admittime, dischtime, admission_type, admission_location, discharge_location, insurance, language, marital_status, ethnicity, age)
# d_icd_diagnoses(row_id, icd9_code, short_title, long_title)
# d_icd_procedures(row_id, icd9_code, short_title, long_title)
# d_labitems(row_id, itemid, label)
# d_items(row_id, itemid, label, linksto)
# diagnoses_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# procedures_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# labevents(row_id, subject_id, hadm_id, itemid, charttime, valuenum, valueuom)
# prescriptions(row_id, subject_id, hadm_id, startdate, enddate, drug, dose_val_rx, dose_unit_rx, route)
# cost(row_id, subject_id, hadm_id, event_type, event_id, chargetime, cost)
# chartevents(row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom)
# inputevents_cv(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, amount)
# outputevents(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, value)
# microbiologyevents(row_id, subject_id, hadm_id, charttime, spec_type_desc, org_name)
# icustays(row_id, subject_id, hadm_id, icustay_id, first_careunit, last_careunit, first_wardid, last_wardid, intime, outtime)
# transfers(row_id, subject_id, hadm_id, icustay_id, eventtype, careunit, wardid, intime, outtime)
#
# Fields: dob means date of birth, dod means date of death, admittime means admit time dischtime is discharge time.
### TEST_QUESTION
select

# Q: 	how did patient 4469's total right jp output come out since 1766 days ago?
# A: 	select sum(outputevents.value) from outputevents where outputevents.icustay_id in ( select icustays.icustay_id from icustays where icustays.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 4469 ) ) and outputevents.itemid in ( select d_items.itemid from d_items where d_items.label = 'right jp' and d_items.linksto = 'outputevents' ) and datetime(outputevents.charttime) >= datetime(current_time,'-1766 day')
# Q: 	what procedure did patient 98235 receive the first time in 2102.
# A: 	select d_icd_procedures.short_title from d_icd_procedures where d_icd_procedures.icd9_code in ( select procedures_icd.icd9_code from procedures_icd where procedures_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 98235 ) and strftime('%y',procedures_icd.charttime) = '2102' order by procedures_icd.charttime asc limit 1 )
# Q: 	what was patient 28443 diagnosed with on this hospital visit for the first time?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select diagnoses_icd.icd9_code from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 28443 and admissions.dischtime is null ) order by diagnoses_icd.charttime asc limit 1 )
# Q: 	what are patient 7524's genders?
# A: 	select patients.gender from patients where patients.subject_id = 7524
# Q: 	whats the sex of patient 43779?
# A: 	select patients.gender from patients where patients.subject_id = 43779
# Q: 	tell me the name of the intake that patient 30826 had for the last time on this month/27?
# A: 	select d_items.label from d_items where d_items.itemid in ( select inputevents_cv.itemid from inputevents_cv where inputevents_cv.icustay_id in ( select icustays.icustay_id from icustays where icustays.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 30826 ) ) and datetime(inputevents_cv.charttime,'start of month') = datetime(current_time,'start of month','-0 month') and strftime('%d',inputevents_cv.charttime) = '27' order by inputevents_cv.charttime desc limit 1 )
# Q: 	tell me the sex of patient 49140.
# A: 	select patients.gender from patients where patients.subject_id = 49140
# Q: 	what is the name of the drug that was prescribed to patient 55843 in the same hospital visit, after having been diagnosed with ac posthemorrhag anemia until 01/2103?
# A: 	select t2.drug from ( select admissions.subject_id, diagnoses_icd.charttime, admissions.hadm_id from diagnoses_icd join admissions on diagnoses_icd.hadm_id = admissions.hadm_id where admissions.subject_id = 55843 and diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'ac posthemorrhag anemia' ) and strftime('%y-%m',diagnoses_icd.charttime) <= '2103-01' ) as t1 join ( select admissions.subject_id, prescriptions.drug, prescriptions.startdate, admissions.hadm_id from prescriptions join admissions on prescriptions.hadm_id = admissions.hadm_id where admissions.subject_id = 55843 and strftime('%y-%m',prescriptions.startdate) <= '2103-01' ) as t2 on t1.subject_id = t2.subject_id where t1.charttime < t2.startdate and t1.hadm_id = t2.hadm_id
# Q: 	does patient 53443 have a male or female gender?
# A: 	select patients.gender from patients where patients.subject_id = 53443
# Q: 	tell me the procedure that patient 15760 last had during the previous year?
# A: 	select d_icd_procedures.short_title from d_icd_procedures where d_icd_procedures.icd9_code in ( select procedures_icd.icd9_code from procedures_icd where procedures_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 15760 ) and datetime(procedures_icd.charttime,'start of year') = datetime(current_time,'start of year','-1 year') order by procedures_icd.charttime desc limit 1 )
# Q: 	had patient 18866 got a diagnosis since 1 year ago?
# A: 	select count(*)>0 from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 18866 ) and datetime(diagnoses_icd.charttime) >= datetime(current_time,'-1 year')
# Q: 	what diagnosis did patient 8204 receive for the first time?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select diagnoses_icd.icd9_code from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 8204 ) order by diagnoses_icd.charttime asc limit 1 )
# Q: 	was patient 24547 given a procedure since 2103?
# A: 	select count(*)>0 from procedures_icd where procedures_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 24547 ) and strftime('%y',procedures_icd.charttime) >= '2103'
# Q: 	what was the first thing patient 99883 had as output on the current intensive care unit visit?
# A: 	select d_items.label from d_items where d_items.itemid in ( select outputevents.itemid from outputevents where outputevents.icustay_id in ( select icustays.icustay_id from icustays where icustays.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 99883 ) and icustays.outtime is null ) order by outputevents.charttime asc limit 1 )
# Q: 	the last time in 2105 patient 27146 was diagnosed with what was?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select diagnoses_icd.icd9_code from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 27146 ) and strftime('%y',diagnoses_icd.charttime) = '2105' order by diagnoses_icd.charttime desc limit 1 )
# Q: 	what is the first thing patient 7742 had for intake on the last intensive care unit visit?
# A: 	select d_items.label from d_items where d_items.itemid in ( select inputevents_cv.itemid from inputevents_cv where inputevents_cv.icustay_id in ( select icustays.icustay_id from icustays where icustays.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 7742 ) and icustays.outtime is not null order by icustays.intime desc limit 1 ) order by inputevents_cv.charttime asc limit 1 )
# Q: 	what is the name of the treatment which has been given to patient 14211 two or more times this month?
# A: 	select d_icd_procedures.short_title from d_icd_procedures where d_icd_procedures.icd9_code in ( select t1.icd9_code from ( select procedures_icd.icd9_code, count( procedures_icd.charttime ) as c1 from procedures_icd where procedures_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 14211 ) and datetime(procedures_icd.charttime,'start of month') = datetime(current_time,'start of month','-0 month') group by procedures_icd.icd9_code ) as t1 where t1.c1 >= 2 )
# Q: 	what was the total br milk fs ng dose for patient 7698 on last month/05?
# A: 	select sum(inputevents_cv.amount) from inputevents_cv where inputevents_cv.icustay_id in ( select icustays.icustay_id from icustays where icustays.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 7698 ) ) and inputevents_cv.itemid in ( select d_items.itemid from d_items where d_items.label = 'br milk fs ng' and d_items.linksto = 'inputevents_cv' ) and datetime(inputevents_cv.charttime,'start of month') = datetime(current_time,'start of month','-1 month') and strftime('%d',inputevents_cv.charttime) = '05'
# Q: 	what was the lab test that was first given to patient 44848 until 6 months ago?
# A: 	select d_labitems.label from d_labitems where d_labitems.itemid in ( select labevents.itemid from labevents where labevents.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 44848 ) and datetime(labevents.charttime) <= datetime(current_time,'-6 month') order by labevents.charttime asc limit 1 )
# Q: 	for the patients with 30s , what is the top three most frequent diagnosis for the patients?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select t1.icd9_code from ( select diagnoses_icd.icd9_code, dense_rank() over ( order by count(*) desc ) as c1 from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.age between 30 and 39 ) group by diagnoses_icd.icd9_code ) as t1 where t1.c1 <= 3 )
# Q: 	has patient 22756 had any diagnoses since 2102?
# A: 	select count(*)>0 from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 22756 ) and strftime('%y',diagnoses_icd.charttime) >= '2102'
# Q: 	what was the name of the procedure performed to patient 70485, two times since 142 months ago?
# A: 	select d_icd_procedures.short_title from d_icd_procedures where d_icd_procedures.icd9_code in ( select t1.icd9_code from ( select procedures_icd.icd9_code, count( procedures_icd.charttime ) as c1 from procedures_icd where procedures_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 70485 ) and datetime(procedures_icd.charttime) >= datetime(current_time,'-142 month') group by procedures_icd.icd9_code ) as t1 where t1.c1 = 2 )
# Q: 	since 1 year ago what was diagnosed with patient 26398 for the first time?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select diagnoses_icd.icd9_code from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 26398 ) and datetime(diagnoses_icd.charttime) >= datetime(current_time,'-1 year') order by diagnoses_icd.charttime asc limit 1 )
# Q: 	tell me the top four most common diagnoses of patients with an age of 60 or above during the last year?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select t1.icd9_code from ( select diagnoses_icd.icd9_code, dense_rank() over ( order by count(*) desc ) as c1 from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.age >= 60 ) and datetime(diagnoses_icd.charttime,'start of year') = datetime(current_time,'start of year','-1 year') group by diagnoses_icd.icd9_code ) as t1 where t1.c1 <= 4 )
# Q: 	what is the name of the diagnosis of patient 59049 first was received during the previous year?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select diagnoses_icd.icd9_code from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 59049 ) and datetime(diagnoses_icd.charttime,'start of year') = datetime(current_time,'start of year','-1 year') order by diagnoses_icd.charttime asc limit 1 )
# Q: 	what is the name of the diagnosis patient 32606 last was received during this year?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select diagnoses_icd.icd9_code from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 32606 ) and datetime(diagnoses_icd.charttime,'start of year') = datetime(current_time,'start of year','-0 year') order by diagnoses_icd.charttime desc limit 1 )
# Q: 	among the patients of the 50s , what was the top four most frequent diagnoses?
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select t1.icd9_code from ( select diagnoses_icd.icd9_code, dense_rank() over ( order by count(*) desc ) as c1 from diagnoses_icd where diagnoses_icd.hadm_id in ( select admissions.hadm_id from admissions where admissions.age between 50 and 59 ) group by diagnoses_icd.icd9_code ) as t1 where t1.c1 <= 4 )
# Q: 	how many times on this month/17 patient 92846 produces a stool out colostomy output?
# A: 	select count(*) from outputevents where outputevents.icustay_id in ( select icustays.icustay_id from icustays where icustays.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 92846 ) ) and outputevents.itemid in ( select d_items.itemid from d_items where d_items.label = 'stool out colostomy' and d_items.linksto = 'outputevents' ) and datetime(outputevents.charttime,'start of month') = datetime(current_time,'start of month','-0 month') and strftime('%d',outputevents.charttime) = '17'
# Q: 	what is the average value of the sao2 of patient 20898 today?
# A: 	select avg(chartevents.valuenum) from chartevents where chartevents.icustay_id in ( select icustays.icustay_id from icustays where icustays.hadm_id in ( select admissions.hadm_id from admissions where admissions.subject_id = 20898 ) ) and chartevents.itemid in ( select d_items.itemid from d_items where d_items.label = 'sao2' and d_items.linksto = 'chartevents' ) and datetime(chartevents.charttime,'start of day') = datetime(current_time,'start of day','-0 day')
# Q: 	list the five most frequent diagnoses that were given to patients in the same month after they were diagnosed with tracheostomy status in 2104.
# A: 	select d_icd_diagnoses.short_title from d_icd_diagnoses where d_icd_diagnoses.icd9_code in ( select t3.icd9_code from ( select t2.icd9_code, dense_rank() over ( order by count(*) desc ) as c1 from ( select admissions.subject_id, diagnoses_icd.charttime from diagnoses_icd join admissions on diagnoses_icd.hadm_id = admissions.hadm_id where diagnoses_icd.icd9_code = ( select d_icd_diagnoses.icd9_code from d_icd_diagnoses where d_icd_diagnoses.short_title = 'tracheostomy status' ) and strftime('%y',diagnoses_icd.charttime) = '2104' ) as t1 join ( select admissions.subject_id, diagnoses_icd.icd9_code, diagnoses_icd.charttime from diagnoses_icd join admissions on diagnoses_icd.hadm_id = admissions.hadm_id where strftime('%y',diagnoses_icd.charttime) = '2104' ) as t2 on t1.subject_id = t2.subject_id where t1.charttime < t2.charttime and datetime(t1.charttime,'start of month') = datetime(t2.charttime,'start of month') group by t2.icd9_code ) as t3 where t3.c1 <= 5 )# this sql database does not support LIMIT.
#
# hadm_id: hospital admission id
# dose_val_rx: dosage size
# dose_unit_rx: unit of dose
# valueom: value units over minutes
#
### MySQL SQL tables, with their properties:
#
# patients(row_id, subject_id, gender, dob, dod)
# admissions(row_id, subject_id, hadm_id, admittime, dischtime, admission_type, admission_location, discharge_location, insurance, language, marital_status, ethnicity, age)
# d_icd_diagnoses(row_id, icd9_code, short_title, long_title)
# d_icd_procedures(row_id, icd9_code, short_title, long_title)
# d_labitems(row_id, itemid, label)
# d_items(row_id, itemid, label, linksto)
# diagnoses_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# procedures_icd(row_id, subject_id, hadm_id, icd9_code, charttime)
# labevents(row_id, subject_id, hadm_id, itemid, charttime, valuenum, valueuom)
# prescriptions(row_id, subject_id, hadm_id, startdate, enddate, drug, dose_val_rx, dose_unit_rx, route)
# cost(row_id, subject_id, hadm_id, event_type, event_id, chargetime, cost)
# chartevents(row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom)
# inputevents_cv(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, amount)
# outputevents(row_id, subject_id, hadm_id, icustay_id, charttime, itemid, value)
# microbiologyevents(row_id, subject_id, hadm_id, charttime, spec_type_desc, org_name)
# icustays(row_id, subject_id, hadm_id, icustay_id, first_careunit, last_careunit, first_wardid, last_wardid, intime, outtime)
# transfers(row_id, subject_id, hadm_id, icustay_id, eventtype, careunit, wardid, intime, outtime)
#
# Fields: dob means date of birth, dod means date of death, admittime means admit time dischtime is discharge time.
### which patients have similar symptoms to patient 41976?
select

'SELECTPATIENTS.SUBJECT_ID\nFROM PATIENTS\nWHERE PATIENTS.SUBJECT_ID != 41976\nAND PATIENTS.GENDER = (SELECT PATIENTS.GENDER FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)\nAND PATIENTS.DOB = (SELECT PATIENTS.DOB FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)\nAND PATIENTS.ETHNICITY = (SELECT PATIENTS.ETHNICITY FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)\nAND PATIENTS.MARITAL_STATUS = (SELECT PATIENTS.MARITAL_STATUS FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976);'

In [62]:
print(


'SELECTPATIENTS.SUBJECT_ID\nFROM PATIENTS\nWHERE PATIENTS.SUBJECT_ID != 41976\nAND PATIENTS.GENDER = (SELECT PATIENTS.GENDER FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)\nAND PATIENTS.DOB = (SELECT PATIENTS.DOB FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)\nAND PATIENTS.ETHNICITY = (SELECT PATIENTS.ETHNICITY FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)\nAND PATIENTS.MARITAL_STATUS = (SELECT PATIENTS.MARITAL_STATUS FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976);'



)

SELECTPATIENTS.SUBJECT_ID
FROM PATIENTS
WHERE PATIENTS.SUBJECT_ID != 41976
AND PATIENTS.GENDER = (SELECT PATIENTS.GENDER FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)
AND PATIENTS.DOB = (SELECT PATIENTS.DOB FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)
AND PATIENTS.ETHNICITY = (SELECT PATIENTS.ETHNICITY FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976)
AND PATIENTS.MARITAL_STATUS = (SELECT PATIENTS.MARITAL_STATUS FROM PATIENTS WHERE PATIENTS.SUBJECT_ID = 41976);

In [8]:
test_prompt = open('../models/mimic-iii/codex_apidoc.txt').read()

In [5]:
print(question)
print()
print("SELECT COUNT(*)>0 \nFROM PRESCRIPTIONS \nWHERE PRESCRIPTIONS.HADM_ID IN \n( \n    SELECT ICUSTAYS.HADM_ID \n    FROM ICUSTAYS \n    WHERE ICUSTAYS.SUBJECT_ID = 22973 \n    ORDER BY ICUSTAYS.INTIME DESC \n    LIMIT 1 \n) \nAND PRESCRIPTIONS.DRUG = 'INSULIN';")

Was patient 22973 prescribed insulin the last time they were at the ICU?

SELECT COUNT(*)>0
FROM PRESCRIPTIONS
WHERE PRESCRIPTIONS.HADM_ID IN
(
    SELECT ICUSTAYS.HADM_ID
    FROM ICUSTAYS
    WHERE ICUSTAYS.SUBJECT_ID = 22973
    ORDER BY ICUSTAYS.INTIME DESC
    LIMIT 1
)
AND PRESCRIPTIONS.DRUG = 'INSULIN';

In [25]:
text = '''SELECT( SELECT CHARTEVENTS.VALUENUM \n  FROM CHARTEVENTS \n  WHERE CHARTEVENTS.ICUSTAY_ID IN \n    ( SELECT ICUSTAYS.ICUSTAY_ID \n      FROM ICUSTAYS \n      WHERE ICUSTAYS.HADM_ID IN \n        ( SELECT ADMISSIONS.HADM_ID \n          FROM ADMISSIONS \n          WHERE ADMISSIONS.SUBJECT_ID = 6215 \n          AND ADMISSIONS.DISCHTIME IS NOT NULL \n          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1 \n        ) \n    ) \n  AND CHARTEVENTS.ITEMID IN \n    ( SELECT D_ITEMS.ITEMID \n      FROM D_ITEMS \n      WHERE D_ITEMS.LABEL = 'ADMIT WT' \n      AND D_ITEMS.LINKSTO = 'CHARTEVENTS' \n    ) \n  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1 OFFSET 1 \n) - \n( SELECT CHARTEVENTS.VALUENUM \n  FROM CHARTEVENTS \n  WHERE CHARTEVENTS.ICUSTAY_ID IN \n    ( SELECT ICUSTAYS.ICUSTAY_ID \n      FROM ICUSTAYS \n      WHERE ICUSTAYS.HADM_ID IN \n        ( SELECT ADMISSIONS.HADM_ID \n          FROM ADMISSIONS \n          WHERE ADMISSIONS.SUBJECT_ID = 6215 \n          AND ADMISSIONS.DISCHTIME IS NOT NULL \n          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1 \n        ) \n    ) \n  AND CHARTEVENTS.ITEMID IN \n    ( SELECT D_ITEMS.ITEMID \n      FROM D_ITEMS \n      WHERE D_ITEMS.LABEL = 'ADMIT WT' \n      AND D_ITEMS.LINKSTO = 'CHARTEVENTS' \n    ) \n  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1 \n);'''

In [28]:
conn_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'
engine = create_engine(conn_string, echo=True)
connection = engine.connect()
test = 0
try:
    result = connection.execute(sqltext(text)).fetchall()
except Exception as e:
    print(e)
    test = e

2024-02-11 07:52:14,613 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-11 07:52:14,613 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 07:52:14,759 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-11 07:52:14,760 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 07:52:14,831 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-11 07:52:14,832 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 07:52:14,947 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-11 07:52:14,947 INFO sqlalchemy.engine.Engine SELECT( SELECT CHARTEVENTS.VALUENUM
  FROM CHARTEVENTS
  WHERE CHARTEVENTS.ICUSTAY_ID IN
    ( SELECT ICUSTAYS.ICUSTAY_ID
      FROM ICUSTAYS
      WHERE ICUSTAYS.HADM_ID IN
        ( SELECT ADMISSIONS.HADM_ID
          FROM ADMISSIONS
          WHERE ADMISSIONS.SUBJECT_ID = 6215
          AND ADMISSIONS.DISCHTIME IS NOT NULL
          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1
        )
    )
  AND CHARTEVENTS.ITEMID IN
    ( SELECT D_ITEMS.ITEMID
      FROM D_ITEMS
      WHERE D_ITEMS.LABEL = 'ADMIT WT'
      AND D_ITEMS.LINKSTO = 'CHARTEVENTS'
    )
  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1 OFFSET 1
) -
( SELECT CHARTEVENTS.VALUENUM
  FROM CHARTEVENTS
  WHERE CHARTEVENTS.ICUSTAY_ID IN
    ( SELECT ICUSTAYS.ICUSTAY_ID
      FROM ICUSTAYS
      WHERE ICUSTAYS.HADM_ID IN
        ( SELECT ADMISSIONS.HADM_ID
          FROM ADMISSIONS
          WHERE ADMISSIONS.SUBJECT_ID = 6215
          AND ADMISSIONS.DISCHTIME IS NOT NULL
          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1
        )
    )
  AND CHARTEVENTS.ITEMID IN
    ( SELECT D_ITEMS.ITEMID
      FROM D_ITEMS
      WHERE D_ITEMS.LABEL = 'ADMIT WT'
      AND D_ITEMS.LINKSTO = 'CHARTEVENTS'
    )
  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1
);
2024-02-11 07:52:14,948 INFO sqlalchemy.engine.Engine [generated in 0.02938s] {}
(mysql.connector.errors.ProgrammingError) 1235 (42000): target: ehrudite-alt.-.primary: vttablet: This version of MySQL doesn't yet support 'LIMIT & IN/ALL/ANY/SOME subquery' (errno 1235) (sqlstate 42000) (CallerID: xsylitx3w6v21qdtinlf): Sql: "select (select CHARTEVENTS.VALUENUM from CHARTEVENTS where CHARTEVENTS.ICUSTAY_ID in (select ICUSTAYS.ICUSTAY_ID from ICUSTAYS where ICUSTAYS.HADM_ID in (select ADMISSIONS.HADM_ID from ADMISSIONS where ADMISSIONS.SUBJECT_ID = :ADMISSIONS_SUBJECT_ID /* INT64 */ and ADMISSIONS.DISCHTIME is not null order by ADMISSIONS.ADMI
[SQL: SELECT( SELECT CHARTEVENTS.VALUENUM
  FROM CHARTEVENTS
  WHERE CHARTEVENTS.ICUSTAY_ID IN
    ( SELECT ICUSTAYS.ICUSTAY_ID
      FROM ICUSTAYS
      WHERE ICUSTAYS.HADM_ID IN
        ( SELECT ADMISSIONS.HADM_ID
          FROM ADMISSIONS
          WHERE ADMISSIONS.SUBJECT_ID = 6215
          AND ADMISSIONS.DISCHTIME IS NOT NULL
          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1
        )
    )
  AND CHARTEVENTS.ITEMID IN
    ( SELECT D_ITEMS.ITEMID
      FROM D_ITEMS
      WHERE D_ITEMS.LABEL = 'ADMIT WT'
      AND D_ITEMS.LINKSTO = 'CHARTEVENTS'
    )
  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1 OFFSET 1
) -
( SELECT CHARTEVENTS.VALUENUM
  FROM CHARTEVENTS
  WHERE CHARTEVENTS.ICUSTAY_ID IN
    ( SELECT ICUSTAYS.ICUSTAY_ID
      FROM ICUSTAYS
      WHERE ICUSTAYS.HADM_ID IN
        ( SELECT ADMISSIONS.HADM_ID
          FROM ADMISSIONS
          WHERE ADMISSIONS.SUBJECT_ID = 6215
          AND ADMISSIONS.DISCHTIME IS NOT NULL
          ORDER BY ADMISSIONS.ADMITTIME ASC LIMIT 1
        )
    )
  AND CHARTEVENTS.ITEMID IN
    ( SELECT D_ITEMS.ITEMID
      FROM D_ITEMS
      WHERE D_ITEMS.LABEL = 'ADMIT WT'
      AND D_ITEMS.LINKSTO = 'CHARTEVENTS'
    )
  ORDER BY CHARTEVENTS.CHARTTIME ASC LIMIT 1
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [29]:
test

sqlalchemy.exc.ProgrammingError('(mysql.connector.errors.ProgrammingError) 1235 (42000): target: ehrudite-alt.-.primary: vttablet: This version of MySQL doesn\'t yet support \'LIMIT & IN/ALL/ANY/SOME subquery\' (errno 1235) (sqlstate 42000) (CallerID: xsylitx3w6v21qdtinlf): Sql: "select (select CHARTEVENTS.VALUENUM from CHARTEVENTS where CHARTEVENTS.ICUSTAY_ID in (select ICUSTAYS.ICUSTAY_ID from ICUSTAYS where ICUSTAYS.HADM_ID in (select ADMISSIONS.HADM_ID from ADMISSIONS where ADMISSIONS.SUBJECT_ID = :ADMISSIONS_SUBJECT_ID /* INT64 */ and ADMISSIONS.DISCHTIME is not null order by ADMISSIONS.ADMI')

In [35]:
t = "SELECT AVG(COST.COST) \nFROM COST \nWHERE COST.HADM_ID IN \n( \n    SELECT DIAGNOSES_ICD.HADM_ID \n    FROM DIAGNOSES_ICD \n    WHERE DIAGNOSES_ICD.ICD9_CODE = \n    ( \n        SELECT D_ICD_DIAGNOSES.ICD9_CODE \n        FROM D_ICD_DIAGNOSES \n        WHERE D_ICD_DIAGNOSES.SHORT_TITLE = 'DIABETES' \n    ) \n);".upper().replace("\n", "")
t

"SELECT AVG(COST.COST) FROM COST WHERE COST.HADM_ID IN (     SELECT DIAGNOSES_ICD.HADM_ID     FROM DIAGNOSES_ICD     WHERE DIAGNOSES_ICD.ICD9_CODE =     (         SELECT D_ICD_DIAGNOSES.ICD9_CODE         FROM D_ICD_DIAGNOSES         WHERE D_ICD_DIAGNOSES.SHORT_TITLE = 'DIABETES'     ) );"