In [3]:
import json
import os
from openai import OpenAI

from dotenv import load_dotenv
load_dotenv()

from openAI_utils import checkFT

In [54]:
client = OpenAI(api_key=os.getenv("OAI_KEY"))

In [5]:
def parseJSON(path="../models/mimic-iii/train.json", limit=None):
    f = open(path)
    data = json.load(f)

    limit = len(data) if limit == None else limit

    result = [(e['question'], e['query']) for e in data]
    return result[0:limit]

In [6]:
def toOpenAI(msgPairs, finetune_path="../models/mimic-iii/finetune.jsonl"):
    system_prompt = "You are a computer that provides SQL queries."
    openMessages = [{"messages": [{"role": "system", "content": system_prompt}, {"role": "user", "content": m[0]}, {"role": "assistant", "content": m[1]}]} for m in msgPairs]

    with open(finetune_path, 'w') as outfile:
        for entry in openMessages:
            json.dump(entry, outfile)
            outfile.write('\n')
    
    return openMessages

In [9]:
def toVec(msgPairs, finetune_path="../models/mimic-iii/qqdict.json"):
    openMessages = {i: msgPairs[i] for i in range(len(msgPairs))}

    with open(finetune_path, 'w') as outfile:
        json.dump(openMessages, outfile)
    
    return openMessages

toVec(parseJSON())

{0: ('tell me the method of intake of clobetasol propionate 0.05% ointment?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'clobetasol propionate 0.05% ointment'"),
 1: ('what are the methods of consumption of send 500mg vial?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'send 500mg vial'"),
 2: ('tell me the intake method for triamcinolone acetonide 0.1% cream?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'triamcinolone acetonide 0.1% cream'"),
 3: ('what is the ingesting method of methimazole?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'methimazole'"),
 4: ('what are the ways to consume caspofungin?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'caspofungin'"),
 5: ('what is the intake method of the phentolamine mesylate?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'phentolamine mesylate'"),
 6: ('tell me the intake method for syringe?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'syringe'"),
 7: ('what are the methods of consumption of levetiracetam solution?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'levetiracetam solution'"),
 8: ('tell me the intake method for belatacept study drug (*ind*)?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'belatacept study drug (*ind*)'"),
 9: ('what are the ways to consume sterile water?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'sterile water'"),
 10: ('what are the methods of consumption of clotrimazole?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'clotrimazole'"),
 11: ('what is the intake method of the albumin 5% (12.5 g)?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'albumin 5% (12.5 g)'"),
 12: ('what is the ingesting method of nicotine lozenge?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'nicotine lozenge'"),
 13: ('what are the ways to consume dofetilide?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'dofetilide'"),
 14: ('what is the ingesting method of insulin human regular?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'insulin human regular'"),
 15: ('tell me the intake method for sirolimus?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'sirolimus'"),
 16: ('what are the ways to consume betamethasone dipro 0.05% oint?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'betamethasone dipro 0.05% oint'"),
 17: ('tell me the method of intake of metformin xr (glucophage xr)?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'metformin xr (glucophage xr)'"),
 18: ('what is the ingesting method of testosterone 5mg patch?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'testosterone 5mg patch'"),
 19: ('what are the ways to consume oxycodone?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'oxycodone'"),
 20: ('what are the methods of consumption of insulin human nph?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'insulin human nph'"),
 21: ('what is the ingesting method of lansoprazole oral suspension?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'lansoprazole oral suspension'"),
 22: ('tell me the intake method for readi-cat 2 (barium sulfate 2% suspension)?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'readi-cat 2 (barium sulfate 2% suspension)'"),
 23: ('what is the ingesting method of amitriptyline hcl?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'amitriptyline hcl'"),
 24: ('what is the ingesting method of heparin flush crrt (5000 units/ml)?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'heparin flush crrt (5000 units/ml)'"),
 25: ('what are the ways to consume acular?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'acular'"),
 26: ('what are the methods of consumption of hydrocortisone study drug (*ind*)?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'hydrocortisone study drug (*ind*)'"),
 27: ('what are the methods of consumption of acetaminophen w/codeine?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'acetaminophen w/codeine'"),
 28: ('what are the methods of consumption of lopinavir-ritonavir?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'lopinavir-ritonavir'"),
 29: ('what are the ways to consume guaifenesin?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'guaifenesin'"),
 30: ('tell me the method of intake of dibucaine?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'dibucaine'"),
 31: ('what is the intake method of the nifedipine cr?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'nifedipine cr'"),
 32: ('what is the ingesting method of miconazole nitrate vaginal?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'miconazole nitrate vaginal'"),
 33: ('what is the ingesting method of hydrochlorothiazide?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'hydrochlorothiazide'"),
 34: ('tell me the method of intake of hydrocortisone study drug (*ind*)?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'hydrocortisone study drug (*ind*)'"),
 35: ('what is the intake method of the methotrexate sodium p.f.?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'methotrexate sodium p.f.'"),
 36: ('what are the ways to consume prochlorperazine maleate?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'prochlorperazine maleate'"),
 37: ('what are the ways to consume danazol?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'danazol'"),
 38: ('what is the intake method of the albuterol neb soln?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'albuterol neb soln'"),
 39: ('tell me the intake method for provera?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'provera'"),
 40: ('tell me the intake method for betamethasone dipro 0.05% oint?',
  "select distinct prescriptions.route from prescriptions where prescriptions.drug = 'betamethasone dipro 0.05% oint'"),
 41: ("what's the cost of a procedure called pros repair atria def-cl?",
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'pros repair atria def-cl' ) )"),
 42: ('how much does the price mean for a inject/infuse nec?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'inject/infuse nec' ) )"),
 43: ("what's the cost of a loc exc les metatar/tar.",
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'loc exc les metatar/tar' ) )"),
 44: ('how much does it cost for a procedure called lap creat esoph sphinct?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'lap creat esoph sphinct' ) )"),
 45: ('what does a pros repair atria def-cl cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'pros repair atria def-cl' ) )"),
 46: ('tell me the cost of the dilation of intestine?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'dilation of intestine' ) )"),
 47: ('how much for a procedure called hepatic lobectomy?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'hepatic lobectomy' ) )"),
 48: ('tell me the cost for a circumcision?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'circumcision' ) )"),
 49: ('how does opn aortic valvuloplasty cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'opn aortic valvuloplasty' ) )"),
 50: ('how much is the cost of a procedure called proximal gastrectomy?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'proximal gastrectomy' ) )"),
 51: ('how much is the other craniectomy cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'other craniectomy' ) )"),
 52: ('what is the cost of the procedure called blepharorrhaphy?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'blepharorrhaphy' ) )"),
 53: ('how much do resp tract intubat nec costs?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'resp tract intubat nec' ) )"),
 54: ('what do rad subtot pancreatectom costs?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'rad subtot pancreatectom' ) )"),
 55: ('how much does remov ext immobilization cost.',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'remov ext immobilization' ) )"),
 56: ('what is the cost of a surgery called skin & subq incision nec?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'skin & subq incision nec' ) )"),
 57: ('how much does a procedure known as appl ext fix-tib/fibula cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'appl ext fix-tib/fibula' ) )"),
 58: ('how much do charge for a permanent ileostomy nec?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'permanent ileostomy nec' ) )"),
 59: ("what's a price of implt/repl carddefib tot?",
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'implt/repl carddefib tot' ) )"),
 60: ('how much loc exc bone lesion nec?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'loc exc bone lesion nec' ) )"),
 61: ('how much is a procedure called int insert dual-cham dev.',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'int insert dual-cham dev' ) )"),
 62: ('how much does a procedure called knee synovectomy cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'knee synovectomy' ) )"),
 63: ('for the endosc control gast hem what does it cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'endosc control gast hem' ) )"),
 64: ("what's is closed uterine biopsy's price?",
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'closed uterine biopsy' ) )"),
 65: ('what cost does a procedure called inject/inf thrombo agent cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'inject/inf thrombo agent' ) )"),
 66: ('tell me the price of a procedure called insert infusion pump?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'insert infusion pump' ) )"),
 67: ('tell me the price of a procedure called endoscop dilate pylorus?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'endoscop dilate pylorus' ) )"),
 68: ('how much does partial ostectomy nec cost.',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'partial ostectomy nec' ) )"),
 69: ('for the bile duct incision nec what does it cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'bile duct incision nec' ) )"),
 70: ('for the anal fistulotomy what does it cost?',
  "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'anal fistulotomy' ) )"),
 71: ('how much is the cost of a lab test of chloride, stool?',
  "select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'chloride, stool' ) )"),
 72: ('what is the cost of taking a mcv lab test?',
  "select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'mcv' ) )"),
 73: ('whats the cost for atypical lymphocytes?',
  "select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'atypical lymphocytes' ) )"),
 74: ('what is the cost to do a wbc, ascites lab test?',
  "select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'wbc, ascites' ) )"),
 75: ('how much does it cost to have a ck-mb index lab test.',
  "select distinct cost.cost from cost where cost.event_type = 'labevents' and cost.event_id in ( select labevents.row_id from labevents where labevents.itemid in ( select d_labitems.itemid from d_labitems where d_labitems.label = 'ck-mb index' ) )"),
 76: ('tell me the price for reticulocyte count, manual?',

In [65]:
finetune_path="../models/mimic-iii/finetune.jsonl"
om = toOpenAI(parseJSON(), finetune_path)

checkFT(om)

No errors found

In [63]:
client.files.create(
  file=open(finetune_path, "rb"),
  purpose="fine-tune"
)

FileObject(id='file-RwTED2DFZvCzWaPwbAEDRgb0', bytes=112244, created_at=1707614276, filename='finetune.jsonl', object='file', purpose='fine-tune', status='processed', status_details=None)

In [64]:
client.fine_tuning.jobs.create(
  training_file="file-RwTED2DFZvCzWaPwbAEDRgb0", 
  model="gpt-3.5-turbo"
)

BadRequestError: Error code: 400 - {'error': {'message': 'Fine-tuning jobs cannot be created on an Explore plan. You can upgrade to a paid plan on your billing page: https://platform.openai.com/account/billing/overview', 'type': 'invalid_request_error', 'param': None, 'code': 'exceeded_quota'}}