In [1]:
import mysql.connector
from dotenv import load_dotenv, find_dotenv
import os
import pandas as pd
from sqlalchemy import create_engine, text
load_dotenv(find_dotenv())

True

In [2]:
host = os.getenv("DB_HOST")
user = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

In [3]:
user

'xsylitx3w6v21qdtinlf'

In [4]:
conn_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'
engine = create_engine(conn_string, echo=True)
connection = engine.connect()
result = connection.execute(text("SHOW TABLES;"))
for r in result.mappings():
    print(r)
connection.close()

2024-02-11 06:36:15,213 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-11 06:36:15,214 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 06:36:15,393 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-11 06:36:15,393 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 06:36:15,487 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-11 06:36:15,487 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 06:36:15,625 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-11 06:36:15,626 INFO sqlalchemy.engine.Engine SHOW TABLES;
2024-02-11 06:36:15,627 INFO sqlalchemy.engine.Engine [generated in 0.03181s] {}
{'Tables_in_ehrudite-alt': 'ADMISSIONS'}
{'Tables_in_ehrudite-alt': 'CHARTEVENTS'}
{'Tables_in_ehrudite-alt': 'COST'}
{'Tables_in_ehrudite-alt': 'DIAGNOSES_ICD'}
{'Tables_in_ehrudite-alt': 'D_ICD_DIAGNOSES'}
{'Tables_in_ehrudite-alt': 'D_ICD_PROCEDURES'}
{'Tables_in_ehrudite-alt': 'D_ITEMS'}
{'Tables_in_ehrudite-alt': 'D_LABITEMS'}
{'Tables_in_ehrudite-alt': 'ICUSTAYS'}
{'Tables_in_ehrudite-alt': 'INPUTEVENTS_CV'}
{'Tables_in_ehrudite-alt': 'LABEVENTS'}
{'Tables_in_ehrudite-alt': 'MICROBIOLOGYEVENTS'}
{'Tables_in_ehrudite-alt': 'OUTPUTEVENTS'}
{'Tables_in_ehrudite-alt': 'PATIENTS'}
{'Tables_in_ehrudite-alt': 'PRESCRIPTIONS'}
{'Tables_in_ehrudite-alt': 'PROCEDURES_ICD'}
{'Tables_in_ehrudite-alt': 'TRANSFERS'}
2024-02-11 06:36:15,737 INFO sqlalchemy.engine.Engine ROLLBACK

In [5]:
f = open("mimic_iii.sql")
lines = [l + ';' for l in "".join(f.readlines()).replace("\n", "").split(";")][:-1]
for l in lines: print(l)

DROP TABLE IF EXISTS PATIENTS;
CREATE TABLE PATIENTS (    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL UNIQUE,    GENDER VARCHAR(5) NOT NULL,    DOB DATETIME(0) NOT NULL,    DOD DATETIME(0));
DROP TABLE IF EXISTS ADMISSIONS;
CREATE TABLE ADMISSIONS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL UNIQUE,    ADMITTIME DATETIME(0) NOT NULL,    DISCHTIME DATETIME(0),    ADMISSION_TYPE VARCHAR(50) NOT NULL,    ADMISSION_LOCATION VARCHAR(50) NOT NULL,    DISCHARGE_LOCATION VARCHAR(50),    INSURANCE VARCHAR(255) NOT NULL,    LANGUAGE VARCHAR(10),    MARITAL_STATUS VARCHAR(50),    ETHNICITY VARCHAR(200) NOT NULL,    AGE INT NOT NULL,    FOREIGN KEY(SUBJECT_ID) REFERENCES PATIENTS(SUBJECT_ID));
DROP TABLE IF EXISTS D_ICD_DIAGNOSES;
CREATE TABLE D_ICD_DIAGNOSES(    ROW_ID INT NOT NULL PRIMARY KEY,    ICD9_CODE VARCHAR(10) NOT NULL UNIQUE,    SHORT_TITLE VARCHAR(50) NOT NULL,    LONG_TITLE VARCHAR(255) NOT NULL);
DROP TABLE IF EXISTS D_ICD_PROCEDURES;
CREATE TABLE D_ICD_PROCEDURES (    ROW_ID INT NOT NULL PRIMARY KEY,    ICD9_CODE VARCHAR(10) NOT NULL UNIQUE,    SHORT_TITLE VARCHAR(50) NOT NULL,    LONG_TITLE VARCHAR(255) NOT NULL);
DROP TABLE IF EXISTS D_LABITEMS;
CREATE TABLE D_LABITEMS (    ROW_ID INT NOT NULL PRIMARY KEY,    ITEMID INT NOT NULL UNIQUE,    LABEL VARCHAR(200) NOT NULL);
DROP TABLE IF EXISTS D_ITEMS;
CREATE TABLE D_ITEMS (    ROW_ID INT NOT NULL PRIMARY KEY,    ITEMID INT NOT NULL UNIQUE,    LABEL VARCHAR(200) NOT NULL,    LINKSTO VARCHAR(50) NOT NULL);
DROP TABLE IF EXISTS DIAGNOSES_ICD;
CREATE TABLE DIAGNOSES_ICD(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICD9_CODE VARCHAR(10) NOT NULL,    CHARTTIME DATETIME(0) NOT NULL,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICD9_CODE) REFERENCES D_ICD_DIAGNOSES(ICD9_CODE));
DROP TABLE IF EXISTS PROCEDURES_ICD;
CREATE TABLE PROCEDURES_ICD(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICD9_CODE VARCHAR(10) NOT NULL,    CHARTTIME DATETIME(0) NOT NULL,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICD9_CODE) REFERENCES D_ICD_PROCEDURES(ICD9_CODE));
DROP TABLE IF EXISTS LABEVENTS;
CREATE TABLE LABEVENTS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ITEMID INT NOT NULL,    CHARTTIME DATETIME(0),    VALUENUM DOUBLE PRECISION,    VALUEUOM VARCHAR(20),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ITEMID) REFERENCES D_LABITEMS(ITEMID));
DROP TABLE IF EXISTS PRESCRIPTIONS;
CREATE TABLE PRESCRIPTIONS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    STARTDATE DATETIME(0) NOT NULL,    ENDDATE DATETIME(0),    DRUG VARCHAR(100) NOT NULL,    DOSE_VAL_RX VARCHAR(120) NOT NULL,    DOSE_UNIT_RX VARCHAR(120) NOT NULL,    ROUTE VARCHAR(120) NOT NULL,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID));
DROP TABLE IF EXISTS COST;
CREATE TABLE COST(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    EVENT_TYPE VARCHAR(20) NOT NULL,    EVENT_ID INT NOT NULL,    CHARGETIME DATETIME(0) NOT NULL,    COST DOUBLE PRECISION NOT NULL);
DROP TABLE IF EXISTS ICUSTAYS;
CREATE TABLE ICUSTAYS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT NOT NULL UNIQUE,        FIRST_CAREUNIT VARCHAR(20) NOT NULL,    LAST_CAREUNIT VARCHAR(20) NOT NULL,    FIRST_WARDID SMALLINT NOT NULL,    LAST_WARDID SMALLINT NOT NULL,        INTIME DATETIME(0) NOT NULL,    OUTTIME DATETIME(0),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID));
DROP TABLE IF EXISTS CHARTEVENTS;
CREATE TABLE CHARTEVENTS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT NOT NULL,    ITEMID INT NOT NULL,    CHARTTIME DATETIME(0) NOT NULL,    VALUENUM DOUBLE PRECISION,    VALUEUOM VARCHAR(50),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICUSTAY_ID) REFERENCES ICUSTAYS(ICUSTAY_ID),    FOREIGN KEY(ITEMID) REFERENCES D_ITEMS(ITEMID));
DROP TABLE IF EXISTS INPUTEVENTS_CV;
CREATE TABLE INPUTEVENTS_CV(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT NOT NULL,    CHARTTIME DATETIME(0) NOT NULL,    ITEMID INT NOT NULL,    AMOUNT DOUBLE PRECISION,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICUSTAY_ID) REFERENCES ICUSTAYS(ICUSTAY_ID),    FOREIGN KEY(ITEMID) REFERENCES D_ITEMS(ITEMID));
DROP TABLE IF EXISTS OUTPUTEVENTS;
CREATE TABLE OUTPUTEVENTS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT NOT NULL,    CHARTTIME DATETIME(0) NOT NULL,    ITEMID INT NOT NULL,    VALUE DOUBLE PRECISION,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICUSTAY_ID) REFERENCES ICUSTAYS(ICUSTAY_ID),    FOREIGN KEY(ITEMID) REFERENCES D_ITEMS(ITEMID));
DROP TABLE IF EXISTS MICROBIOLOGYEVENTS;
CREATE TABLE MICROBIOLOGYEVENTS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    CHARTTIME DATETIME(0) NOT NULL,    SPEC_TYPE_DESC VARCHAR(100),    ORG_NAME VARCHAR(100),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID));
DROP TABLE IF EXISTS TRANSFERS;
CREATE TABLE TRANSFERS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT,    EVENTTYPE VARCHAR(20) NOT NULL,    CAREUNIT VARCHAR(20),    WARDID SMALLINT,    INTIME DATETIME(0) NOT NULL,    OUTTIME DATETIME(0),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID));

In [6]:
cnx = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database)

cursor = cnx.cursor()
# cursor.execute(f)
# cursor.execute(f)
for l in lines:
    if l[:2] == '--': continue
    print(l)
    cursor.execute(l)
version = cursor.fetchone()
display(version, cursor)

cnx.close()

DROP TABLE IF EXISTS PATIENTS;

DatabaseError: 3730 (HY000): target: ehrudite-alt.-.primary: vttablet: rpc error: code = Unknown desc = Cannot drop table 'PATIENTS' referenced by a foreign key constraint 'ADMISSIONS_ibfk_1' on table 'ADMISSIONS'. (errno 3730) (sqlstate HY000) (CallerID: xsylitx3w6v21qdtinlf): Sql: "drop table if exists PATIENTS", BindVars: {REDACTED}

In [ ]:
f = open("mimic-iii-teardown.sql")
t_lines = [l + ';' for l in "".join(f.readlines()).replace("\n", "").split(";")][:-1]
for l in t_lines: print(l)

DELETE FROM DIAGNOSES_ICD;
DELETE FROM LABEVENTS;
DELETE FROM PRESCRIPTIONS;
DELETE FROM PROCEDURES_ICD;
DELETE FROM ADMISSIONS;
DELETE FROM PATIENTS;
DELETE FROM D_LABITEMS;
DELETE FROM D_ITEMS;
DELETE FROM D_ICD_DIAGNOSES;

In [7]:
cnx = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database)

cursor = cnx.cursor()
# cursor.execute(f)
# cursor.execute(f)
for l in t_lines:
    if l[:2] == '--': continue
    print(l)
    cursor.execute(l)
version = cursor.fetchone()
display(version, cursor)

cnx.close()

NameError: name 't_lines' is not defined

In [8]:
def read_csv(data_dir, filename, columns=None, lower=True, filter=None, dtype=None, memory_efficient=False):
    filepath = os.path.join(data_dir, filename)
    if memory_efficient:
        import dask.dataframe as dd
        from dask.diagnostics import ProgressBar
        ProgressBar().register()

        if filepath.endswith('gz'):
            compression='gzip'
        else:
            compression=None

        if dtype:
            df = dd.read_csv(filepath, blocksize=25e6, dtype=dtype, compression=compression)
        else:
            df = dd.read_csv(filepath, blocksize=25e6, compression=compression)
        if columns is not None:
            df = df[columns]
        if filter is not None:
            for key in filter:
                df = df[df[key].isin(filter[key])]
        df = df.compute()
    else:
        df = pd.read_csv(filepath, usecols=columns)
        if filter is not None:
            for key in filter:
                df = df[df[key].isin(filter[key])]
    if lower:
        df = df.applymap(lambda x: x.lower().strip() if pd.notnull(x) and type(x)==str else x)
    return df

In [9]:
conn_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'
engine = create_engine(conn_string, echo=True)
conn = engine.connect()

import math

def to_sqlW(df, title, conn, if_exists=None, index=None):
    print(f"{title}: {len(df)}")
    # frac = min(1, 60000 / len(df))
    # display(frac)

    if len(df) > 30000:
        for i in range(math.ceil(len(df) / 30000)):
        # for i in range(0, 2):
            df1 = df[i * 30000 : min(len(df), (i + 1) * 30000)]
            display(i * 30000, min(len(df), (i + 1) * 30000))
            df1.to_sql(title, conn, if_exists=if_exists, index=index)
        
        return
        
    display(df1)
    # try:
    df1.to_sql(title, conn, if_exists=if_exists, index=index)
    # except:
        # print("failed")
    # print(df.size)

# rows = read_csv("./", "PATIENTS.csv")
# to_sqlW(rows, "PATIENTS", conn, if_exists="append", index=False)

# rows = read_csv("./", "ADMISSIONS.csv")
# to_sqlW(rows, "ADMISSIONS", conn, if_exists="append", index=False)

# rows = read_csv("./", "D_ICD_DIAGNOSES.csv").astype({"icd9_code": str})
# to_sqlW(rows, "D_ICD_DIAGNOSES", conn, if_exists="append", index=False)

# rows = read_csv("./", "D_ICD_PROCEDURES.csv").astype({"icd9_code": str})
# to_sqlW(rows, "D_ICD_PROCEDURES", conn, if_exists="append", index=False)

# rows = read_csv("./", "D_ITEMS.csv")
# to_sqlW(rows, "D_ITEMS", conn, if_exists="append", index=False)

# rows = read_csv("./", "D_LABITEMS.csv")
# to_sqlW(rows, "D_LABITEMS", conn, if_exists="append", index=False)

# rows = read_csv("./", "DIAGNOSES_ICD.csv").astype({"icd9_code": str})
# to_sqlW(rows, "DIAGNOSES_ICD", conn, if_exists="append", index=False)

# rows = read_csv("./", "PROCEDURES_ICD.csv").astype({"icd9_code": str})
# to_sqlW(rows, "PROCEDURES_ICD", conn, if_exists="append", index=False)

# rows = read_csv("./", "LABEVENTS.csv")
# to_sqlW(rows, "LABEVENTS", conn, if_exists="append", index=False)

# rows = read_csv("./", "PRESCRIPTIONS.csv")
# to_sqlW(rows, "PRESCRIPTIONS", conn, if_exists="append", index=False)

# rows = read_csv("./", "ICUSTAYS.csv")
# to_sqlW(rows, "ICUSTAYS", conn, if_exists="append", index=False)

# rows = read_csv("./", "INPUTEVENTS_CV.csv")
# to_sqlW(rows, "INPUTEVENTS_CV", conn, if_exists="append", index=False)

# rows = read_csv("./", "OUTPUTEVENTS.csv")
# to_sqlW(rows, "OUTPUTEVENTS", conn, if_exists="append", index=False)

# rows = read_csv("./", "MICROBIOLOGYEVENTS.csv")
# to_sqlW(rows, "MICROBIOLOGYEVENTS", conn, if_exists="append", index=False)

# rows = read_csv("./", "TRANSFERS.csv")
# to_sqlW(rows, "TRANSFERS", conn, if_exists="append", index=False)

# rows = read_csv("./", "COST.csv")
# df1 = read_csv("./", "COST.csv")

# df2 = read_csv("./", "DIAGNOSES_ICD.csv").astype({"icd9_code": str})
# # display(df2)

# rows = pd.merge(rows, df2, left_on='event_id', right_on='row_id', how='left').dropna(subset=['icd9_code'])
# rows.rename(columns={"row_id_x": "row_id", "subject_id_x": "subject_id", "hadm_id_x": "hadm_id"}, inplace=True)
# rows = rows.drop(columns=["row_id_y", "subject_id_y", "hadm_id_y", "icd9_code", "charttime"])
# # display(rows)

# df2 = read_csv("./", "LABEVENTS.csv")
# # display(df2)

# rows = pd.merge(rows, df2, left_on='event_id', right_on='row_id', how='left').dropna(subset=['valueuom'])
# rows.rename(columns={"row_id_x": "row_id", "subject_id_x": "subject_id", "hadm_id_x": "hadm_id"}, inplace=True)
# rows = rows.drop(columns=["row_id_y", "subject_id_y", "hadm_id_y", "charttime", "itemid", "valuenum", "valueuom"])
# # display(rows)

# df2 = read_csv("./", "PROCEDURES_ICD.csv")
# # display(df2)
# # print("hi")

# rows = pd.merge(rows, df2, left_on='event_id', right_on='row_id', how='left').dropna(subset=['icd9_code'])
# rows.rename(columns={"row_id_x": "row_id", "subject_id_x": "subject_id", "hadm_id_x": "hadm_id"}, inplace=True)
# rows = rows.drop(columns=["row_id_y", "subject_id_y", "hadm_id_y", "icd9_code", "charttime",])
# display(rows)

# to_sqlW(rows, "COST", conn, if_exists="append", index=False)

rows = read_csv("./", "CHARTEVENTS.csv")
to_sqlW(rows, "CHARTEVENTS", conn, if_exists="append", index=False)

conn.close()

2024-02-11 06:36:31,568 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-11 06:36:31,569 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 06:36:31,712 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-11 06:36:31,713 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 06:36:31,784 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-11 06:36:31,784 INFO sqlalchemy.engine.Engine [raw sql] {}

/var/folders/kh/by6j2m994_d3p3lgsnb74fw00000gp/T/ipykernel_42976/2375272697.py:29: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower().strip() if pd.notnull(x) and type(x)==str else x)

CHARTEVENTS: 227180

0

30000

2024-02-11 06:36:32,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-11 06:36:32,859 INFO sqlalchemy.engine.Engine DESCRIBE `ehrudite-alt`.`CHARTEVENTS`
2024-02-11 06:36:32,859 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-11 06:36:33,094 INFO sqlalchemy.engine.Engine INSERT INTO `CHARTEVENTS` (row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom) VALUES (%(row_id)s, %(subject_id)s, %(hadm_id)s, %(icustay_id)s, %(itemid)s, %(charttime)s, %(valuenum)s, %(valueuom)s)
2024-02-11 06:36:33,094 INFO sqlalchemy.engine.Engine [generated in 0.11612s] [{'row_id': 0, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 646, 'charttime': '2023-03-02 04:00:00', 'valuenum': 96.0, 'valueuom': '%'}, {'row_id': 1, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 733, 'charttime': '2023-03-02 04:25:00', 'valuenum': 0.0, 'valueuom': 'kg'}, {'row_id': 2, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 224161, 'charttime': '2023-03-02 04:30:00', 'valuenum': 30.0, 'valueuom': 'insp/min'}, {'row_id': 3, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 8547, 'charttime': '2023-03-02 04:32:00', 'valuenum': 160.0, 'valueuom': 'mmhg'}, {'row_id': 4, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 492, 'charttime': '2023-03-02 04:32:00', 'valuenum': 60.0, 'valueuom': 'mmhg'}, {'row_id': 5, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 543, 'charttime': '2023-03-02 04:32:00', 'valuenum': 20.0, 'valueuom': 'cmh2o'}, {'row_id': 6, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 8441, 'charttime': '2023-03-02 04:32:00', 'valuenum': 56.0, 'valueuom': 'mmhg'}, {'row_id': 7, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 677, 'charttime': '2023-03-02 04:34:00', 'valuenum': 37.0555992126465, 'valueuom': 'deg. c'}  ... displaying 10 of 30000 total bound parameter sets ...  {'row_id': 29998, 'subject_id': 41976, 'hadm_id': 176016, 'icustay_id': 286072.0, 'itemid': 220210, 'charttime': '2021-03-20 10:00:00', 'valuenum': 20.0, 'valueuom': 'insp/min'}, {'row_id': 29999, 'subject_id': 41976, 'hadm_id': 176016, 'icustay_id': 286072.0, 'itemid': 220292, 'charttime': '2021-03-20 10:00:00', 'valuenum': 2.1, 'valueuom': 'l/min'}]
2024-02-11 06:36:39,858 INFO sqlalchemy.engine.Engine COMMIT

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): target: ehrudite-alt.-.primary: vttablet: rpc error: code = AlreadyExists desc = Duplicate entry '0' for key 'CHARTEVENTS.PRIMARY' (errno 1062) (sqlstate 23000) (CallerID: xsylitx3w6v21qdtinlf): Sql: "insert into CHARTEVENTS(row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom) values (:vtg1 /* INT64 */, :vtg2 /* INT64 */, :vtg3 /* INT64 */, :vtg4 /* DECIMAL */, :vtg5 /* INT64 */, :vtg6 /* VARCHAR */, :vtg7 /* DECIMAL */, :vtg8 /* VARCHAR */), (:vtg9 /* INT64 */, :vtg10 /* INT64 *
[SQL: INSERT INTO `CHARTEVENTS` (row_id, subject_id, hadm_id, icustay_id, itemid, charttime, valuenum, valueuom) VALUES (%(row_id)s, %(subject_id)s, %(hadm_id)s, %(icustay_id)s, %(itemid)s, %(charttime)s, %(valuenum)s, %(valueuom)s)]
[parameters: [{'row_id': 0, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 646, 'charttime': '2023-03-02 04:00:00', 'valuenum': 96.0, 'valueuom': '%'}, {'row_id': 1, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 733, 'charttime': '2023-03-02 04:25:00', 'valuenum': 0.0, 'valueuom': 'kg'}, {'row_id': 2, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 224161, 'charttime': '2023-03-02 04:30:00', 'valuenum': 30.0, 'valueuom': 'insp/min'}, {'row_id': 3, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 8547, 'charttime': '2023-03-02 04:32:00', 'valuenum': 160.0, 'valueuom': 'mmhg'}, {'row_id': 4, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 492, 'charttime': '2023-03-02 04:32:00', 'valuenum': 60.0, 'valueuom': 'mmhg'}, {'row_id': 5, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 543, 'charttime': '2023-03-02 04:32:00', 'valuenum': 20.0, 'valueuom': 'cmh2o'}, {'row_id': 6, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 8441, 'charttime': '2023-03-02 04:32:00', 'valuenum': 56.0, 'valueuom': 'mmhg'}, {'row_id': 7, 'subject_id': 40124, 'hadm_id': 126179, 'icustay_id': 279554.0, 'itemid': 677, 'charttime': '2023-03-02 04:34:00', 'valuenum': 37.0555992126465, 'valueuom': 'deg. c'}  ... displaying 10 of 30000 total bound parameter sets ...  {'row_id': 29998, 'subject_id': 41976, 'hadm_id': 176016, 'icustay_id': 286072.0, 'itemid': 220210, 'charttime': '2021-03-20 10:00:00', 'valuenum': 20.0, 'valueuom': 'insp/min'}, {'row_id': 29999, 'subject_id': 41976, 'hadm_id': 176016, 'icustay_id': 286072.0, 'itemid': 220292, 'charttime': '2021-03-20 10:00:00', 'valuenum': 2.1, 'valueuom': 'l/min'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [71]:

rows = read_csv("./", "COST.csv")
# df1 = read_csv("./", "COST.csv")

df2 = read_csv("./", "DIAGNOSES_ICD.csv").astype({"icd9_code": str})
# display(df2)

rows = pd.merge(rows, df2, left_on='event_id', right_on='row_id', how='left').dropna(subset=['icd9_code'])
rows.rename(columns={"row_id_x": "row_id", "subject_id_x": "subject_id", "hadm_id_x": "hadm_id"}, inplace=True)
rows = rows.drop(columns=["row_id_y", "subject_id_y", "hadm_id_y", "icd9_code", "charttime"])
# display(rows)

df2 = read_csv("./", "LABEVENTS.csv")
# display(df2)

rows = pd.merge(rows, df2, left_on='event_id', right_on='row_id', how='left').dropna(subset=['valueuom'])
rows.rename(columns={"row_id_x": "row_id", "subject_id_x": "subject_id", "hadm_id_x": "hadm_id"}, inplace=True)
rows = rows.drop(columns=["row_id_y", "subject_id_y", "hadm_id_y", "charttime", "itemid", "valuenum", "valueuom"])
# display(rows)

df2 = read_csv("./", "PROCEDURES_ICD.csv")
# display(df2)
# print("hi")

rows = pd.merge(rows, df2, left_on='event_id', right_on='row_id', how='left').dropna(subset=['icd9_code'])
rows.rename(columns={"row_id_x": "row_id", "subject_id_x": "subject_id", "hadm_id_x": "hadm_id"}, inplace=True)
rows = rows.drop(columns=["row_id_y", "subject_id_y", "hadm_id_y", "icd9_code", "charttime",])
# display(rows)

# df2 = read_csv("./", "LABEVENTS.csv")
# # display(df2)

# rows = pd.merge(rows, df2, left_on='event_id', right_on='row_id', how='left').dropna(subset=['valueuom'])
# rows.rename(columns={"row_id_x": "row_id", "subject_id_x": "subject_id", "hadm_id_x": "hadm_id"}, inplace=True)
# rows = rows.drop(columns=["row_id_y", "subject_id_y", "hadm_id_y", "charttime", "itemid", "valuenum", "valueuom"])
# display(rows)

/var/folders/kh/by6j2m994_d3p3lgsnb74fw00000gp/T/ipykernel_99962/2375272697.py:29: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower().strip() if pd.notnull(x) and type(x)==str else x)
/var/folders/kh/by6j2m994_d3p3lgsnb74fw00000gp/T/ipykernel_99962/2375272697.py:29: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower().strip() if pd.notnull(x) and type(x)==str else x)

,row_id,subject_id,hadm_id,event_type,event_id,chargetime,cost
0,0,10006,142345.0,diagnoses_icd,0,2022-11-27 21:09:00,13.83
1,1,10006,142345.0,diagnoses_icd,1,2022-11-27 21:09:00,13.29
2,2,10006,142345.0,diagnoses_icd,2,2022-11-27 21:09:00,13.32
3,3,10006,142345.0,diagnoses_icd,3,2022-11-27 21:09:00,15.19
4,4,10006,142345.0,diagnoses_icd,4,2022-11-27 21:09:00,14.98
...,...,...,...,...,...,...,...
51996,51996,10117,105150.0,prescriptions,1529,2022-12-07 00:00:00,13.69
51997,51997,10117,105150.0,prescriptions,1530,2022-12-07 00:00:00,14.74
51998,51998,10117,105150.0,prescriptions,1531,2022-12-08 00:00:00,12.74
51999,51999,10117,105150.0,prescriptions,1532,2022-12-10 00:00:00,13.76
52000,52000,10117,105150.0,prescriptions,1533,2022-12-10 00:00:00,13.76

/var/folders/kh/by6j2m994_d3p3lgsnb74fw00000gp/T/ipykernel_99962/2375272697.py:29: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower().strip() if pd.notnull(x) and type(x)==str else x)

,row_id,subject_id,hadm_id,itemid,charttime,valuenum,valueuom
0,0,10006,142345.0,50893,2022-11-27 17:33:00,7.80,mg/dl
1,1,10006,142345.0,50912,2022-11-27 17:38:00,3.30,mg/dl
2,2,10006,142345.0,51003,2022-11-27 17:38:00,0.02,ng/ml
3,3,10006,142345.0,51006,2022-11-27 17:38:00,12.00,mg/dl
4,4,10006,142345.0,51250,2022-11-27 17:38:00,91.00,fl
...,...,...,...,...,...,...,...
48455,48455,44222,192189.0,51200,2023-08-28 04:00:00,1.70,%
48456,48456,44222,192189.0,51250,2023-08-28 04:00:00,74.00,fl
48457,48457,44222,192189.0,50878,2023-08-28 04:00:00,21.00,iu/l
48458,48458,44222,192189.0,50885,2023-08-28 04:00:00,0.30,mg/dl
48459,48459,44222,192189.0,50960,2023-08-28 04:00:00,2.10,mg/dl

/var/folders/kh/by6j2m994_d3p3lgsnb74fw00000gp/T/ipykernel_99962/2375272697.py:29: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower().strip() if pd.notnull(x) and type(x)==str else x)

In [ ]:
t = "select distinct cost.cost from cost where cost.event_type = 'procedures_icd' and cost.event_id in ( select procedures_icd.row_id from procedures_icd where procedures_icd.icd9_code = ( select d_icd_procedures.icd9_code from d_icd_procedures where d_icd_procedures.short_title = 'inject/infuse nec"
t.upper()