In [44]:
import mysql.connector
from dotenv import load_dotenv
import os
load_dotenv()

True

In [45]:
f = open("mimic_iii.sql")
lines = [l + ';' for l in "".join(f.readlines()).replace("\n", "").split(";")]
lines

['DROP TABLE IF EXISTS PATIENTS;',
 'CREATE TABLE PATIENTS (    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL UNIQUE,    GENDER VARCHAR(5) NOT NULL,    DOB TIMESTAMP(0) NOT NULL,    DOD TIMESTAMP(0));',
 'DROP TABLE IF EXISTS ADMISSIONS;',
 'CREATE TABLE ADMISSIONS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL UNIQUE,    ADMITTIME TIMESTAMP(0) NOT NULL,    DISCHTIME TIMESTAMP(0),    ADMISSION_TYPE VARCHAR(50) NOT NULL,    ADMISSION_LOCATION VARCHAR(50) NOT NULL,    DISCHARGE_LOCATION VARCHAR(50),    INSURANCE VARCHAR(255) NOT NULL,    LANGUAGE VARCHAR(10),    MARITAL_STATUS VARCHAR(50),    ETHNICITY VARCHAR(200) NOT NULL,    AGE INT NOT NULL,    FOREIGN KEY(SUBJECT_ID) REFERENCES PATIENTS(SUBJECT_ID));',
 'DROP TABLE IF EXISTS D_ICD_DIAGNOSES;',
 'CREATE TABLE D_ICD_DIAGNOSES(    ROW_ID INT NOT NULL PRIMARY KEY,    ICD9_CODE VARCHAR(10) NOT NULL UNIQUE,    SHORT_TITLE VARCHAR(50) NOT NULL,    LONG_TITLE VARCHAR(255) NOT NULL);',
 'DROP TABLE IF EXISTS D_ICD_PROCEDURES;',
 'CREATE TABLE D_ICD_PROCEDURES (    ROW_ID INT NOT NULL PRIMARY KEY,    ICD9_CODE VARCHAR(10) NOT NULL UNIQUE,    SHORT_TITLE VARCHAR(50) NOT NULL,    LONG_TITLE VARCHAR(255) NOT NULL);',
 'DROP TABLE IF EXISTS D_LABITEMS;',
 'CREATE TABLE D_LABITEMS (    ROW_ID INT NOT NULL PRIMARY KEY,    ITEMID INT NOT NULL UNIQUE,    LABEL VARCHAR(200) NOT NULL);',
 'DROP TABLE IF EXISTS D_ITEMS;',
 'CREATE TABLE D_ITEMS (    ROW_ID INT NOT NULL PRIMARY KEY,    ITEMID INT NOT NULL UNIQUE,    LABEL VARCHAR(200) NOT NULL,    LINKSTO VARCHAR(50) NOT NULL);',
 'DROP TABLE IF EXISTS DIAGNOSES_ICD;',
 'CREATE TABLE DIAGNOSES_ICD(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICD9_CODE VARCHAR(10) NOT NULL,    CHARTTIME TIMESTAMP(0) NOT NULL,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICD9_CODE) REFERENCES D_ICD_DIAGNOSES(ICD9_CODE));',
 'DROP TABLE IF EXISTS PROCEDURES_ICD;',
 'CREATE TABLE PROCEDURES_ICD(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICD9_CODE VARCHAR(10) NOT NULL,    CHARTTIME TIMESTAMP(0) NOT NULL,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICD9_CODE) REFERENCES D_ICD_PROCEDURES(ICD9_CODE));',
 'DROP TABLE IF EXISTS LABEVENTS;',
 'CREATE TABLE LABEVENTS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ITEMID INT NOT NULL,    CHARTTIME TIMESTAMP(0),    VALUENUM DOUBLE PRECISION,    VALUEUOM VARCHAR(20),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ITEMID) REFERENCES D_LABITEMS(ITEMID));',
 'DROP TABLE IF EXISTS PRESCRIPTIONS;',
 'CREATE TABLE PRESCRIPTIONS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    STARTDATE TIMESTAMP(0) NOT NULL,    ENDDATE TIMESTAMP(0),    DRUG VARCHAR(100) NOT NULL,    DOSE_VAL_RX VARCHAR(120) NOT NULL,    DOSE_UNIT_RX VARCHAR(120) NOT NULL,    ROUTE VARCHAR(120) NOT NULL,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID));',
 'DROP TABLE IF EXISTS COST;',
 'CREATE TABLE COST(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    EVENT_TYPE VARCHAR(20) NOT NULL,    EVENT_ID INT NOT NULL,    CHARGETIME TIMESTAMP(0) NOT NULL,    COST DOUBLE PRECISION NOT NULL,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(EVENT_ID) REFERENCES DIAGNOSES_ICD(ROW_ID),    FOREIGN KEY(EVENT_ID) REFERENCES PROCEDURES_ICD(ROW_ID),    FOREIGN KEY(EVENT_ID) REFERENCES LABEVENTS(ROW_ID),    FOREIGN KEY(EVENT_ID) REFERENCES PRESCRIPTIONS(ROW_ID)  );',
 'DROP TABLE IF EXISTS CHARTEVENTS;',
 'CREATE TABLE CHARTEVENTS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT NOT NULL,    ITEMID INT NOT NULL,    CHARTTIME TIMESTAMP(0) NOT NULL,    VALUENUM DOUBLE PRECISION,    VALUEUOM VARCHAR(50),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICUSTAY_ID) REFERENCES ICUSTAYS(ICUSTAY_ID),    FOREIGN KEY(ITEMID) REFERENCES D_ITEMS(ITEMID));',
 'DROP TABLE IF EXISTS INPUTEVENTS_CV;',
 'CREATE TABLE INPUTEVENTS_CV(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT NOT NULL,    CHARTTIME TIMESTAMP(0) NOT NULL,    ITEMID INT NOT NULL,    AMOUNT DOUBLE PRECISION,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICUSTAY_ID) REFERENCES ICUSTAYS(ICUSTAY_ID),    FOREIGN KEY(ITEMID) REFERENCES D_ITEMS(ITEMID));',
 'DROP TABLE IF EXISTS OUTPUTEVENTS;',
 'CREATE TABLE OUTPUTEVENTS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT NOT NULL,    CHARTTIME TIMESTAMP(0) NOT NULL,    ITEMID INT NOT NULL,    VALUE DOUBLE PRECISION,    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID),    FOREIGN KEY(ICUSTAY_ID) REFERENCES ICUSTAYS(ICUSTAY_ID),    FOREIGN KEY(ITEMID) REFERENCES D_ITEMS(ITEMID));',
 'DROP TABLE IF EXISTS MICROBIOLOGYEVENTS;',
 'CREATE TABLE MICROBIOLOGYEVENTS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    CHARTTIME TIMESTAMP(0) NOT NULL,    SPEC_TYPE_DESC VARCHAR(100),    ORG_NAME VARCHAR(100),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID));',
 'DROP TABLE IF EXISTS ICUSTAYS;',
 'CREATE TABLE ICUSTAYS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT NOT NULL,        FIRST_CAREUNIT VARCHAR(20) NOT NULL,    LAST_CAREUNIT VARCHAR(20) NOT NULL,    FIRST_WARDID SMALLINT NOT NULL,    LAST_WARDID SMALLINT NOT NULL,        INTIME TIMESTAMP(0) NOT NULL,    OUTTIME TIMESTAMP(0),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID));',
 'DROP TABLE IF EXISTS TRANSFERS;',
 'CREATE TABLE TRANSFERS(    ROW_ID INT NOT NULL PRIMARY KEY,    SUBJECT_ID INT NOT NULL,    HADM_ID INT NOT NULL,    ICUSTAY_ID INT,    EVENTTYPE VARCHAR(20) NOT NULL,    CAREUNIT VARCHAR(20),    WARDID SMALLINT,    INTIME TIMESTAMP(0) NOT NULL,    OUTTIME TIMESTAMP(0),    FOREIGN KEY(HADM_ID) REFERENCES ADMISSIONS(HADM_ID));',
 ';']

In [38]:
cnx = mysql.connector.connect(
    host=os.getenv("DB_HOST"),
    user=os.getenv("DB_USERNAME"),
    password= os.getenv("DB_PASSWORD"),
    database=os.getenv("DB_NAME"),)

cursor = cnx.cursor()
# cursor.execute(f)
# cursor.execute(f)
for l in lines:
    print(l)
    cursor.execute(l)
version = cursor.fetchone()
display(version, cursor)

cnx.close()

DROP TABLE IF EXISTS PATIENTS;

DatabaseError: 3730 (HY000): target: test.-.primary: vttablet: rpc error: code = Unknown desc = Cannot drop table 'PATIENTS' referenced by a foreign key constraint 'ADMISSIONS_ibfk_1' on table 'ADMISSIONS'. (errno 3730) (sqlstate HY000) (CallerID: g3k5rtdlq1vbv9x9rjz9): Sql: "drop table if exists PATIENTS", BindVars: {REDACTED}